//Сброс CSS
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

// Подключаем шрифт
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

//Переменные:
//Текст
$font-stack: Geologica, sans-serif;
$line-height-113: 113%;
$line-height-140: 140%;

//Заготовки текстового оформления
@mixin font-setting-link-nav {
    font-size: 1.8rem;
    font-weight: 400;
}

@mixin font-setting-header {
    font-size: 5.6rem;
    font-weight: 500;
}

@mixin font-setting-text {
    font-size: 2rem;
    font-weight: 200;
    line-height: $line-height-140;
}

//Цвета
$color-gray : #444B50;
$color-white: #ffffff;
$color-red : #D45749;
$color-placeholder: rgba(68, 75, 80, 0.35);


// Сброс настроек CSS
* {
    font-family: $font-stack;
    line-height: $line-height-113;
    color: $color-gray;
    text-decoration: none;

    svg {
        display: block;
    }

    img {
        display: block;
    }

    details {
        list-style: none;
    }

    button {
        padding: 0;
        background: none;
        border: none;
    }

    &:focus-visible {
        outline-color: $color-red;
        outline-offset: 4px;
    }
}

//Анимация Dialog
@keyframes open {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  @keyframes close {
    from { opacity: 1 }
    to   { opacity: 0 }
  }

// Основной CSS

//Плавный скролл
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    font-size: 1.6rem;
}

//Блокирование скрола при открытии модального окна
body:has(dialog[open]) {
    overflow: hidden;
}

//Центрирование контента
.display__centered {
    max-width: 1080px;
    margin: 0 auto;
}

// Фиксированние шапки
.fixed-top {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
}

//Стилизация кнопки
.button {
    border-radius: 100px;
    border: 2px solid $color-red;
    background-color: $color-red;
    display: flex;
    padding: 24px 40px;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 2.4rem;
    font-weight: 400;
    gap: 10px;
    width: fit-content;
    transition: all 0.15s ease-in-out;

    &:hover {
        background-color: #BF4E42;
        border-color: #BF4E42;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    }

    &:active {
        background-color: #AA463A;
        border-color: #AA463A;
    }
}

.button__scale {
    transition: all 0.2s ease-out;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

//Стилизация ссылок Х
.link__source {
    display: inline;
    color: $color-red;
    text-decoration: underline;
    text-underline-offset: 20%;
    text-decoration-thickness: 8%;
}

.link__source:hover {
    opacity: 0.7;
}

.link__source:active {
    opacity: 0.6;
}

//Стилизация заголовка
.heading {
    @include font-setting-header;
    margin-bottom: 48px
}

//Стилизация основного текста
.text {
    @include font-setting-text;
}

.f-w__300 {
    font-weight: 300;
}

// Стилизация шапки
.header {
    transform: translate(0px, -50px);
    animation: header-news 0.8s 0.5s forwards;

    .article {
        text-align: center;
        white-space: nowrap;
        background: repeating-linear-gradient(-45deg, transparent 0px 25px, rgba(255, 255, 255, 0.06) 25px 50px);
        background-color: #D45749;
        padding: 12px 0px;

        @keyframes header-news {
            from {
                transform: translate(0px, -50px);
            }

            to {
                transform: translate(0px, 0px);
            }
        }

        a,
        span {
            color: $color-white;
            font-size: 1.6rem;
            font-weight: 400;
        }

        a {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            border-bottom: 2px solid currentColor;
            transition: opacity 0.15s ease-in-out;
            margin-left: 8px;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.6;
            }
        }
    }

    .burger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        cursor: pointer;
        background: none;
        border: none;
        z-index: 1001;
      }
      .burger span {
        display: block;
        height: 3px;
        background: #fff;
        border-radius: 2px;
    }

}

// Меню навигации
.nav {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.80) 100%);
    backdrop-filter: blur(22.5px);
    @include font-setting-link-nav;

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
    }

    &__ul {
        display: flex;
        gap: 24px;
    }

    a {
        @include font-setting-link-nav;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 9.5%;
            text-underline-offset: 9.5%;
        }
    }

    .display__centered {
        max-width: 1198px;
    }
}

// Стилизация контента
.main {
    margin-top: 178px;

    .accordion, .cases, .advantages, .platforms, .security, .integration, .modules {
        scroll-margin: 178px;
    }

    .preview {
        scroll-margin: 300px;
    }

    article {
        margin-bottom: 178px;
    }

    .preview, .security, .platforms, .contacts, .card, .integration, .modules {
        display: flex;
        gap: 48px;
        align-items: center;

        &__block {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }

        &__image {
            border-radius: 18px;
        }
    }

    .preview {

        gap: 24px;

        h1 {
            margin-bottom: 32px;
        }

        &__image {
            box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.20);
            width: 524px;
        }
    }

    .cases {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__case {
            display: flex;
            gap: 48px;
        }

        &__button {
            display: flex;
            height: 92px;
            padding: 12px 24px;
            flex-direction: column;
            justify-content: center;
            border-radius: 20px;
            border: 0.8px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2) inset;
        }

        .card {

            &__header {
                gap: 28px;
                overflow: auto;
                height: 36vh;
                padding: 24px 24px 24px 12px;
                scrollbar-color: #e4e5e8 #ffffff00;
                scrollbar-width: thin;

                img {
                    width: 60%;
                    margin: 0 auto;
                }

                .oil {
                    width: 55%;
                }

                .gas {
                    width: 80%;
                }
            }

            &__header, &__image {
                flex: 1 0 0;
            }

            &__image {
                width: 100%;
                object-fit: cover;
                overflow: hidden;
            }

            .gazprom {
                img {
                    margin-top: -5px;
                }
            }

            &__block {
                border-radius: 28px;
                background: #F5F6F8;
                padding: 20px;
                text-align: left;
                flex-direction: row;
                
                .card__header, ul {
                    display: flex;
                    flex-direction: column;
                }

                ul {
                    list-style: disc;
                    gap: 16px;
                    margin: 0 0 0 24px;
                    
                    li, span {
                        @include font-setting-text;
                        font-size: 1.8rem;
                    }

                    span {
                        margin: 0 0 0 -24px;
                    }
                }

                h3 {
                    margin: 0;
                    font-size: 4rem;
                }

                .title {
                    font-weight: 400;
                }

                .text, .title {
                    font-size: 1.8rem;
                }

                a {
                    text-decoration-line: underline;
                    text-decoration-style: dotted;
                    text-decoration-thickness: 11%; /* 1.867px */
                    text-underline-offset: 25%;
                    color: #1052DB;
                    text-align: center;
                    font-weight: 500;
                    font-size: 2rem;
                }

            }
        }
    }

    .advantages {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        
        &__preview,
        &__conteiner,
        &__section {
            display: flex;
        }

        &__preview,
        &__section {
            background-color: $color-red;
            border-radius: 24px;
            padding: 48px;
        }

        &__heading,
        &__section {
            flex-direction: column;
        }

        &__preview {
            overflow: hidden;
        }

        &__conteiner {
            gap: 32px;
        }

        &__section {
            flex: 1 1;
            gap: 12px;
            justify-content: end;
        }

        &__image__card {
            margin: -48px -48px -48px 0;
        }

        &__image {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

        &__text {
            font-weight: 500;
        }

        h2, p {
            color: $color-white;
        }

        h2 {
            margin-bottom: 32px;
        }
    }

    .accordion {

        &__details {
            transition: all .3s;
            cursor: pointer;
        }
        

        .text {
            border: none!important;
        }

        svg {
            transition: .3s;
        }
        
        &__details[open] svg {
            transform: rotate(180deg);
        }
          
        &__heading {
            transition: .3s;
            display: flex;
            justify-content: space-between;
            @include font-setting-text;
            font-size: 2.2rem;
            padding: 48px 0;
            border-bottom: 1px solid rgba(68, 75, 80, 0.3);
        }

        & .link {
            display: inline-block;
        }

        ul {
            list-style: disc;
            margin: 0 0 24px 24px;

            li {
                margin-bottom: 16px;
            }
        }
        
    }

    .security {
        position: relative;

        &__text {
            white-space: pre-line;
        }

        &__button {
            position: relative;
            width: 354px;
            height: 538px;
            flex: 0 0 auto;
            
            &::after, &::before, img {
                position: absolute;
                width: 324px;
                height: 459px;
            }

            &::after, &::before {
                content: "";
                top: 78px;
                left: 30px;
                background-color: transparent;
                z-index: 0;
                transition: .2s;
            }

            &::before {
                top: 0;
                left: 0;
                z-index: 0;                   
            }

            &:active{
                background-color: transparent;

                &::after, &::before {
                    background-color: rgba(0, 0, 0, 0.1 );
                }
            }
        }

        &__image:first-of-type, &__image:last-of-type,  &__button::after, &__button::before{
            border-radius: 13px;
        }

        &__image:first-of-type, &__image:last-of-type {
            top: 0;
            left: 0;
            border-radius: 13px;
            z-index: -1;
            box-shadow: 13px 57px 16px 0px rgba(0, 0, 0, 0.00), 8px 37px 15px 0px rgba(0, 0, 0, 0.01), 5px 21px 13px 0px rgba(0, 0, 0, 0.05), 2px 9px 9px 0px rgba(0, 0, 0, 0.09), 1px 2px 5px 0px rgba(0, 0, 0, 0.10);
        }

        &__image:last-of-type {
            top: 78px;
            left: 30px;
            z-index: 0;
        }
        
        svg {
            position: relative;
            left: 350px;
            top: 320px;
        }

        .slider {
            width: 50vh !important;

            img {
                width: 100%;
            }
        }


    }

    .platforms, .integration, .modules {
        flex-direction: column;
    }

    .modules {
        margin: 0;
        scroll-margin: 448px;
        
        .media {
            margin: 0 auto;
            opacity: 0;
            position: absolute;
            transition: opacity 0.5s;
        }

        .active {
            opacity: 1;
        }

        &__videos {
            position: sticky;
            top: 28vh;
            margin-bottom: 10vh;
        }

        .p-left {
            padding-left: 54px;
        }
        
        &__block {
            flex-direction: row;
            grid-column-gap: 64px;
        }

        &__visual {
            flex: 0 0 25%;
            border-radius: 4px;
            flex-direction: column;
            display: flex;
            position: sticky;
        }

        &__content {
            
            .module {
                &__header {
                    margin-bottom: 32px;
                }

                &__content[data-index="10"] {
                    .heading {
                        margin-bottom: 24px !important;
                    }

                    .text {
                        margin-bottom: 48px;
                    }
                }

                &__content {

                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-bottom: 178px;
                    display: flex;

                    .heading {
                        font-size: 3.2rem;
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        margin-bottom: 12px;
                    }
                }

                &__content[data-index="1"] {
                    min-height: 420px;
                    margin-bottom: 172px;

                    h2 {
                        font-size: 5.2rem;
                    }
                }
            }
            
            span {
                font-size: 2.4rem !important;
            }

            ul {
                list-style-type: disc;
                padding-left: 72px !important;

                li {
                    margin-bottom: 20px;
                }
                
                li:last-of-type {
                    margin: 0;
                }
            }
        }

        .module-grid {
            max-width: 222px;
          }
          
          .module-row {
            display: flex;
            width: 100%;
            align-items: stretch;
          }
          
          .top-row,
          .bottom-row {
            gap: 40px 72px;
          }
          
          .module-connection {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            flex: 1;
            opacity: 1;
          }
          
          .icon-container, .icon-container::before, .icon-container::after {
            border-radius: 48px;
            background-color: rgba(255, 255, 255, 1);
            width: 74px;
            height: 74px;
          }

          .icon-container {
            border: 1px solid rgba(0, 0, 0, 0.05);
            align-self: stretch;
            display: flex;
            margin: auto 0;
            padding: 4px;
            align-items: center;
            gap: 10px;
            justify-content: center;
            box-shadow: 0px 1.362px 6.129px 0px rgba(0, 0, 0, 0.04) inset;
            box-sizing: content-box;
        }
          
          .icon-image {
            aspect-ratio: 1;
            object-fit: contain;
            object-position: center;
            width: 54px;
            align-self: stretch;
            margin: auto 0;
          }
          
          .middle-row {
            align-items: center;
          }
          
          .center-column {
            align-self: stretch;
            flex: 1;
          }
          
          .center-column .module-connection:last-child {
            margin-top: 74px;
          }

          .module-connection.inactive .icon-container {
            opacity: 0.5;
          }

          .module-connection.active .icon-container {
            animation: bg-color-module 0.8s cubic-bezier(0, 0, 0.58, 1) forwards;
            path {
                animation: color-module 0.8s cubic-bezier(0, 0, 0.58, 1) forwards;
            }
          }

          .module-connection .icon-container {
            transition: opacity 0.5s ease, transform 0.5s ease;
          }

          .central-logo {
            border-radius: 30.355px;
            background: #D45749;
            padding: 20px;
            opacity: 0;
            transition: all 0.8s;
            display: none;
            height: auto !important;
            border-radius: 50px !important;
            width: fit-content !important;
          }

          .central-logo.active {
            opacity: 1;
          }


          .icon-container::before, .icon-container::after{
            content: "";
            position: absolute;
            background-color: rgba(212, 87, 73, 0);
            z-index: -1;
          }
          
          .module-connection.active .icon-container::before {
            animation: first-circle-module 0.8s cubic-bezier(0, 0, 0.58, 1);
          }

          .module-connection.active .icon-container::after {
            animation: second-circle-module 1.2s forwards cubic-bezier(0, 0, 0.58, 1);
          }

          .module-connection.returning .icon-container {
            opacity: 1;
            transition: all 1s ease;
          }

          .module-container {
            position: relative;
            width: 300px; /* или больше, в зависимости от макета */
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
          }
          
          .module-connection {
            position: relative;
            transition: all 0.6s ease-in-out;
          }
          
          /* Финальная конфигурация */
          .module-connection.reconfigure {
            transition: all 0.6s ease-in-out;
          }
          
          .module-connection.reconfigure[data-index="1"] {
            transform: translate(-10px, 44px);
          }
          
          .module-connection.reconfigure[data-index="2"] {
            transform: translate(22px, 44px);
          }
          
          .module-connection.reconfigure[data-index="3"] {
            transform: translate(0, -60px);
          }
          
          .module-connection.reconfigure[data-index="4"] {
            transform: translate(-50px, -34px);
          }

          .module-connection.reconfigure[data-index="5"] {
            transform: translate(50px, -34px);
          }

          .module-connection.reconfigure[data-index="6"] {
            transform: translate(0px, -8px);
          }

          .module-connection.reconfigure[data-index="7"] {
            transform: translate(-10px, -112px);
          }

          .module-connection.reconfigure[data-index="8"] {
            transform: translate(22px, -112px);
          }
          
        //   .module-connection.reconfigure:nth-child(5) {
        //     transform: translate(100px, 50px);
        //   }
          
        //   .module-connection.reconfigure:nth-child(6) {
        //     transform: translate(50px, 100px);
        //   }
          
        //   .module-connection.reconfigure:nth-child(7) {
        //     transform: translate(-50px, 100px);
        //   }
          
        //   .module-connection.reconfigure:nth-child(8) {
        //     transform: translate(-100px, 50px);
        //   }
          
          /* Центральный логотип */
          .central-logo {
            position: absolute;
            z-index: 10;
            border-radius: 50%;
            background-color: rgba(212, 87, 73, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
          }

          @keyframes first-circle-module {
            from {
                color: $color-white !important;
                transform: scale(1);
                background-color: rgba(212, 87, 73, 0.20);
            }

            50% {
                transform: scale(1.8);
            }

            to {
                transform: scale(2.2);
                background-color: rgba(212, 87, 73, 0);
            }
            
          }

          @keyframes second-circle-module {
            from {
                transform: scale(0.8);
                background-color: rgba(212, 87, 73, 0.2);
            }

            50% {
                transform: scale(1);
                background-color: rgba(212, 87, 73, 0.4);
            }

            to {
                transform: scale(1.35);
                background-color: rgba(212, 87, 73, 0.2);
            }
          }

          @keyframes color-module {
            from {
                fill: $color-gray;
            }

            50% {
                fill: $color-white;
            }

            to {
                fill: $color-white;
            }
        }

        @keyframes bg-color-module {
            from {
                background: $color-white;
            }

            50% {
                background: $color-red;
            }
            
            to {
                background: $color-red;
            }
        }
    }

    .integration {
        
        scroll-margin: 300px;

        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 402px; /* Высота контейнера */
        }
        
        &__image {
            position: absolute;
            left: 0;
            top: 0;
            width: 3533px;
            max-width: none;
            will-change: transform;
            transition: transform 2s;

            &__low-size {
                display: none;
            }
        }


    }

    .platforms {
        &__image{
            &__low-size, &__mobile {
                display: none;
            }
        }
    }

    .contacts {
        border-radius: 48px;
        background-color: $color-red;
        padding: 48px;
        align-items: start;

        &__header {
            h3 {
                margin-bottom: 32px;
            }
        }
        
        &__block, &__data, form, .inputs {
            flex-direction: column;
        }
        
        &__block, &__form {
            flex: 50%;
        }

        &__block {
            gap: 32px;
        }

        & * {
            color: $color-white;
        }

        &__data {
            display: flex;
            gap: 12px;

            & span {
                display: inline-flex;
                gap: 8px;
                width: fit-content;
            }
        }

    }

    form {
        display: flex;
        padding: 44px 38px;
        align-items: center;
        gap: 32px;
        border-radius: 24px;
        background: #FFF;
        background-color: $color-white;

        .inputs {
            display: flex;
            width: 100%;
            gap: 16px !important;
        }
        
        .button {
            width: 100%;
        }

        input, label {
            color: rgba(68, 75, 80, 0.8);
            border-radius: 16px;
            border: 1px solid $color-placeholder;
            background: #FFF;
            padding: 14px 16px;
        }

        label {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            color: rgba(68, 75, 80, 0.35);
        }
        
        input[type="text"]:hover, input[type="email"]:hover, label:hover{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
            color: rgba(68, 75, 80, 0.8);
        }

        input:hover::placeholder, label:hover {
            color: rgba(68, 75, 80, 0.8);
        }

        input {
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 2.4rem; 
            width: 100%;
            accent-color: $color-red;

            &[type="checkbox" i] {
                width: fit-content;
                color: $color-placeholder;
            }

        

            &::placeholder {
                color: $color-placeholder;
                font-size:1.6rem;
                font-weight: 300;
                line-height: 2.4rem;
                transition: color 0.2s;
            }

            &::-webkit-input-placeholder {
                color: $color-placeholder;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 2.4rem; 
            }
            
            &:-moz-placeholder {
                color: $color-placeholder;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 2.4rem; 
            }
            
            &::-moz-placeholder {
                color: $color-placeholder;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 2.4rem; 
            }
            
            &:-ms-input-placeholder {
                color: $color-placeholder;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 2.4rem; 
            }
            
            &::-ms-input-placeholder {
                color: $color-placeholder;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 2.4rem; 
            }
        }

        .checkbox__text {
            font-weight: 300;
            color: $color-placeholder !important;
            padding: 0;
            border: none;
            transition: color 0.2s;
            line-height: 2.4rem;
        }

        .form__confidential {
            color: #444B50!important;
            font-size: 1.2rem !important;
            line-height: 1.4rem;
            white-space: pre-line;
            text-align: center;
            text-underline-offset: 20%;

            a {
                color: currentColor;
            }
        }
          
    }
}

// Стилизация подвала
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    margin-bottom: 40px;


    svg path{
        fill: currentColor;
    }

    &__links, &__copyright, a, button {
        display: flex;
        align-items: center;
    }

    &__links, &__copyright {
        justify-content: center;
    }

    &__links{
        gap: 26px;
        flex-wrap: wrap;
        
        .link__content, button {
            padding: 8px;
            align-items: center;
            gap: 4px;
            line-height: 2.4rem;
            border-radius: 12px;
            border: 1px solid rgba(68, 75, 80, 0.80);
            color: rgba(68, 75, 80, 0.80);
            transition: all 0.15s ease-out;

            &:hover{
                border: 1px solid transparent;
                background: $color-red;
                color: $color-white;

                svg path{
                    fill: $color-white;
                }
            }

            &:active {
                background: #AA463A;
            }
            
        }
    }

    &__copyright {
        gap: 32px;
        flex-wrap: wrap;
    }

    dialog {
        padding: 0;
    }

    .partners {

    &__card {
        background-color: #fff;
        display: flex;
        text-align: left;
        padding: 48px;
        border-radius: 24px;
        gap: 48px;

        &:first-child {
            margin-bottom: 32px;
        }
    
        h4 {
            font-weight: 400;
        }

        img {
            object-fit: contain;
        }
    
        svg path{
            fill: currentColor;
        }

        .email path {
            fill: $color-red;
        }

        span {
            display: flex;
            align-items: center;
            gap: 8px;

            &:first-of-type {
                align-items: start;
            }

            a {
                text-decoration-thickness: 5%;
                text-underline-offset: 19%;
            }
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            margin-bottom: 8px;

            &:last-of-type {
                margin: 0;
            }
        }
    }

    }
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    border: none;
    padding: 50px;
    text-align: center;
    background-color: transparent;
    color: #FFFFFF;
    height: fit-content;
    margin: 0;
    transform: translate(-50%, -50%);
    overflow: visible;
}

dialog:open {
    opacity: 1;
  }

  dialog {
    opacity: 0;
    transition:
      opacity 0.1s ease-out,
      overlay 0.1s ease-out allow-discrete,
      display 0.1s ease-out allow-discrete;
  }
  
  @starting-style {
    dialog:open {
      opacity: 0;
    }
  }
  
  dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition:
      display 0.1s allow-discrete,
      overlay 0.1s allow-discrete,
      background-color 0.3s;
  }
  
  dialog:open::backdrop {
    background-color: rgb(0 0 0 / 25%);
  }
  
  @starting-style {
    dialog:open::backdrop {
      background-color: rgb(0 0 0 / 0%);
    }
  }

.scroll-lock {
    overflow: hidden;
}

.security__button,
.button-radio {
    cursor     : pointer;
    user-select: none;
}

/* Стили для слайдера в casesDialog */
.slider-line {
    position: relative;
    overflow: hidden;
}

.slider {
    margin: 0 auto;
    width: 80%;
    svg {
        position: static !important;
    }
}

.slides {
    display: flex;
    gap: 88px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    align-items: center;
}

.slide {
    flex: 0 0 100%;
    min-width: 100%;
}

.button-radio {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.button-radio.active {
    background: white;
}

.button-prev,
.button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inline-size: 48px;
    block-size: 48px;
    border: none;
    color: white;
    font-size: 2.4rem;
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.3s;
}

.button-prev {
    left: 150px;
}

.button-next {
    right: 150px;
}

.button-prev:disabled,
.button-next:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Бургер‑иконка */
.nav__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 17px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .mobile-fullscreen-menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 120px;

    /* Анимация открытия */
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;
    pointer-events: none;
    visibility: hidden;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.05);
    border-left: 1.5px solid rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.8) 100%);
    -webkit-backdrop-filter: blur(22.5px);
    backdrop-filter: blur(22.5px);
    border-radius: 10px;
    overflow: hidden auto;
    max-height: 90vh;
}

.mobile-fullscreen-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
}

.mobile-fullscreen-menu.no-transition {
    transition: none !important;
}

.mobile-fullscreen-menu__links {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    text-align: left;
}

.mobile-fullscreen-menu__links li {
    padding: 16px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.05);
}

.mobile-fullscreen-menu__links li:last-of-type {
    border: none;
}

.mobile-fullscreen-menu__links a {
    font-size: 20px;
    text-decoration: none;
    color: $color-gray;
}

.mobile-fullscreen-menu__button {
    margin-top: 40px;
    padding: 20px 24px;
}

/* Анимация бургер-меню в крестик */
.nav__burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav__burger.open span:nth-child(2) {
    opacity: 0;
}

.nav__burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav__burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #6c757b;
    transition: all 0.3s ease-in-out;
}


  .nav__cta {
    display: none;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 1rem;
    background-color: #D45749;
    color: #fff;
    font-size: 1.6rem !important;
    text-decoration: none;
    transition: background-color 0.3s;
    text-decoration: none !important;
  }
  .nav__cta:hover {
    background-color: #b13f3c;
  }
  
  /* Отступ между кнопкой и телефоном */
  .nav__cta + a[href^="tel"] {
    margin-left: 1rem;
  }

    .mobile-menu {
        display: flex;
        align-items: center;
        gap: 24px;
    }

@media (max-width: 1900px) {
    @media (min-height: 1440px) {
        .main .cases .card__block {
            height: 35vh;
            flex-direction: column-reverse;
        }

        .main .cases .card__image {
            height: 16vh !important;
            flex: none;
        }

        .main .card__image {
            display: none;
        }

        .main .cases .card__header {
           
            img { 
                width: 40% !important;
            }

            & .oil {
                width: 30% !important;
            }
        }
    }
    .card {
        &__header {
            height: 52vh !important;
        }
    }
    .button-prev {
        left: 100px;
    }
    .button-next {
        right: 100px;
    }
}

@media (max-width: 1100px) {
    .card {
        &__header {
            height: 64vh !important;
        }
    }
}

@media (max-width: 800px) {
    
    .button-prev {
        left: 20px;
    }
    .button-next {
        right: 20px;
    }
}

@media (max-width: 1500px) {

    .card {
        &__header {
            height: 58vh !important;
        }
    }
    
    .main .security {
        .button-prev {
            left: 40px !important;
        }
        .button-next {
            right: 40px !important;
        }
    }
}

@media (max-width: 1250px) {
    .nav__li:last-of-type {
        display: none;
    }
}

@media (max-width: 1200px) {
    @media (max-height: 1100px) {
        
        .main .security .slider {
            width: 50vh !important;
        }

        .card__header {
            height: 84vh !important;

            img {
                width: 50% !important;
            }

            .oil {
                width: 36% !important;
            }

            .gas {
                width: 58% !important;
            }
        }
    }

    .display__centered{
        width: calc(100% - 124px);
    }

    dialog:open {
        padding: 0;
    }

    .button-prev {
        left: 0vh;
    }
    
    .button-next {
        right: 0vh;
    }

    .main {

        .security {

            .button-prev {
                left: -10vh !important;
            }
            .button-next {
                right: -10vh !important;
            }
        }

        .card {

            &__block {
                &__header {
                    height: 66.5vh !important;
                }
        
                .card__image {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .nav__li:nth-last-of-type(2) {
        display: none;
    }
    
    .nav__cta {
        font-size: 2rem;
        padding: 12px 24px;
    }

    .mobile-fullscreen-menu {
        padding-top: 150px;
    }

    .mobile-fullscreen-menu__button {
        display: none;
    }

    .heading {
        font-size: 5.2rem;
    }

    .main .cases__case {
        flex-wrap: wrap;
        justify-content: center;
        gap: 28px;
    }

    .main .cases__button {
        width: 320px;

        &:first-child>img {
            height: 56px;
        }

        img {
            height: 46px;
        }
    }
}

@media (max-width: 992px) {

    .display__centered{
        width: calc(100% - 80px) !important;
    }

    .main .cases__button {
        width: 282px;
    }

    .nav__ul,
    .nav__menu > a[href^="tel"] {
      display: none;
    }
    .nav__cta {
        display: inline-flex;
    }
    .nav__burger {
      display: flex;
    }

    .nav__menu {
        padding: 18px 0;
    }

    .main .security {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main .preview {
        flex-direction: column-reverse;
    }

    .main .modules__visual {
        display: none;
    }

    .main .contacts {
        flex-wrap: wrap;
    }

    .footer .partners__card {
        flex-wrap: wrap;
    }

    .main .integration__image {

        display: none;

        &__low-size {
            display: block;
            width: 500px;
        }
    }

    .main .integration__cover {
        overflow: visible;
        height: auto;
    }

    .main .preview__block {
        align-items: center;
    }

    .main .advantages {
        flex-direction: column;
        gap: 20px;
    }

    .main .modules__content {
        .module__content{
            align-items: center;
            margin-bottom: 78px !important;

            &[data-index="1"] {
                min-height: auto; 
            }
        }
    }

    .main .advantages__image {
        display: none;
    }

    .main .modules__content ul {
        padding-left: 22px !important;
    }

    .main .modules .p-left {
        padding-left: 4px;
    }
    
}

@media (max-width: 768px) {
    @media (min-height: 1440px) {
        .button-next {
            right: 0px;
        }
        .button-prev {
            left: 0px;
        }
    }

    .nav__cta {
        display: none !important;
    }

    .main .modules__content .module__content {
        margin-bottom: 78px;
    }
    
    .main article {
        margin-bottom: 78px;
    }

    .display__centered{
        width: calc(100% - 44px) !important;
    }

    .main .platforms__image {
        display: none;

        &__low-size {
            display: block;
        }
    }

    .text, ul li {
        font-size: 1.6rem !important;
    }

    .heading {
        font-size: 3.2rem !important;
        line-height: 100%;
        margin-bottom: 28px;
    }

    h3.heading {
        font-size: 2.8rem !important;
    }

    .main .modules__content span {
        font-size: 2rem;
    }

    .main .accordion ul {
        margin: 0 0 20px 16px;
    }

    .accordion__heading {
        font-size: 1.6rem !important;
    }

    .accordion__heading {
        padding: 28px 0 !important;
    }

    .main .accordion__heading.first {
        padding: 0 0 28px 0 !important;
    }
    
    .mobile-fullscreen-menu {
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 120px;
    
        /* Анимация открытия */
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.25s ease-out, transform 0.25s ease-out;
        pointer-events: none;
        visibility: hidden;
        max-height: none;
    }

    .mobile-fullscreen-menu__links {
        width: 100%;
    }

    .mobile-fullscreen-menu__button {
        display: flex;
        font-size: 2rem;
    }
    
    .button {
        padding: 20px 24px;
        font-size: 2rem;
    }

    .main .accordion__details[open] {
        padding: 0;
    }
}

@media (max-width: 668px) {

    .nav .mobile-menu a{
        display: none;
    }
}

@media (max-width: 476px) {
    .main .security svg {
        display: none;
    }

    .main .platforms__image {
        display: none;

        &__low-size {
            display: none;
        }

        &__mobile {
            display: block;
        }
    }

    form {
        padding: 24px 18px !important;

        input, label {
            padding: 8px 12px !important;
            border-radius: 12px !important;
        }

        input::placeholder, .checkbox__text {
            font-size: 1.4rem !important;
        }

        .button {
            font-size: 1.8rem;
            white-space: nowrap;
            padding: 14px 24px !important;
        }
    }

    .main .contacts {
        padding: 24px !important;
        border-radius: 32px !important;
        gap: 32px;

        &__data {
            gap: 8px;
        }

        &__heading {
            margin-bottom: 16px;
        }
    }
}


@media (max-width: 375px) {
    .display__centered{
        width: calc(100% - 24px) !important;
    }

    .button {
        font-size: 1.8rem;
    }
}