---
layout: base.njk
pageStyle: modules-style
title: Исполнительная документация
description: "Программный модуль для управления цифровой исполнительной документацией: создание актов и журналов в формате XML, контроль работ и материалов, взаимодействие с органами ГСН"
---
            <section class="hero grid gutter gb fade-in" id="hero"
                data-fade-group>
                <div class="hero__content cols-8">
                    <div class="hero__modules-info">
                        <div class="hero__text">
                            <h1 class="hero__title font-large">Исполнительная
                                документация</h1>
                            <p class="hero__description font-main">
                                Модуль, отвечающий за управление ведением
                                исполнительной документации в электронном виде.
                            </p>
                        </div>
                        <div class="tags">
                            <div class="tag font-main">
                                ИД
                            </div>
                            <div class="tag font-main">
                                Поставки МТР
                            </div>
                            <div class="tag font-main">
                                Сертификаты
                            </div>
                            <div class="tag font-main">
                                Протоколы
                            </div>
                            <div class="tag font-main">
                                ЭП
                            </div>
                            <div class="tag font-main">
                                АООК
                            </div>
                            <div class="tag font-main">
                                Прогресс СМР
                            </div>
                            <div class="tag font-main">
                                Накладные
                            </div>
                            <div class="tag font-main">
                                Спецжурналы
                            </div>
                            <div class="tag font-main">
                                АОСР
                            </div>
                            <div class="tag font-main">
                                СК
                            </div>
                            <div class="tag font-main">
                                Исполнительные схемы
                            </div>
                            <div class="tag font-main">
                                XML-схемы
                            </div>
                            <div class="tag font-main">
                                ОЖР
                            </div>
                        </div>
                    </div>
                    <a class="button mobile-fullscreen-menu__button adapt-btn"
                        type="button" href="/#distributor">
                        <span class="button__text">Заказать презентацию</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25"
                            height="26" viewBox="0 0 25 26" fill="none">
                            <path d="M22 4L3 23" stroke="#4C0000"
                                stroke-width="3" stroke-linecap="square" />
                            <path d="M23 23V3H3" stroke="#4C0000"
                                stroke-width="3" stroke-linecap="square" />
                        </svg>
                    </a>
                </div>
                <div class="hero__image cols-8">
                    <picture>
                        <source
                            media="(min-width: 582px) and (max-width: 1104px)"
                            srcset="
                        /img/hero-table-modules-id.avif 1x,
                        /img/hero-table-modules-id@2x.avif 2x
                        " type="image/avif">
                        <source
                            media="(min-width: 582px) and (max-width: 1104px)"
                            srcset="
                        /img/hero-table-modules-id.webp 1x,
                        /img/hero-table-modules-id@2x.webp 2x
                        " type="image/webp">
                        <source srcset="
                        /img/hero-modules-id.avif 1x,
                        /img/hero-modules-id@2x.avif 2x
                        " type="image/avif">
                        <source srcset="
                        /img/hero-modules-id.webp 1x,
                        /img/hero-modules-id@2x.webp 2x
                        " type="image/webp">
                        <img src="/img/hero-modules-id.png" srcset="
                        /img/hero-modules-id.png 1x,
                        /img/hero-modules-id@2x.png 2x
                        "
                            alt="Строители анализируют график выполнения работ через модуль исполнительной документации"
                            loading="lazy">
                    </picture>
                </div>
                <div aria-hidden="true" class="lines grid" style="z-index:-2">
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                </div>
            </section>
            <section class="accordion grid gutter gb fade-in">
                <div class="accordion__image cols-8">
                    <div class="accordion__slider">
                        <div class="accordion__slides">
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-up-01.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-up-01.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-up-01.jpg"
                                    alt="Ведение информации о поставках МТР (дата, поставщик и пр.)"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-up-02.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-up-02.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-up-02.jpg"
                                    alt="Ведение информации о материалах в поставке"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-up-03.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-up-03.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-up-03.jpg"
                                    alt="Загрузка документов качества"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-up-04.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-up-04.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-up-04.jpg"
                                    alt="Контроль соответствия поставленного материала спецификации"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-up-05.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-up-05.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-up-05.jpg"
                                    alt="Входной контроль материалов (создание актов, ведение журнала)"
                                    loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="accordion__content cols-8">
                    <h2 class="font-title">
                        Управление поставками
                    </h2>
                    <div class="accordion__collaps-box">
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Ведение информации о поставках МТР (дата,&nbsp;поставщик&nbsp;и&nbsp;пр.)
                                </h3>
                            </button>
                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Ведение информации о материалах в поставке
                                </h3>
                            </button>
                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Загрузка документов качества
                                </h3>
                            </button>
                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Контроль соответствия поставленного материала спецификации
                                </h3>
                            </button>
                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Входной контроль материалов (создание актов, ведение журнала)
                                </h3>
                            </button>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="lines grid" style="z-index:-2">
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                </div>
            </section>
            <section class="accordion grid gutter gb fade-in">
                <div class="accordion__image cols-8">
                    <div class="accordion__slider">
                        <div class="accordion__slides">
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-ur-01-02.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-ur-01-02.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-ur-01-02.jpg"
                                    alt="Создание графиков (реестров) работ в привязке к элементам объекта"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-ur-01-02.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-ur-01-02.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-ur-01-02.jpg"
                                    alt="Ведение информации по работе (код, объем, статус и пр.)"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-ur-03.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-ur-03.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-ur-03.jpg"
                                    alt="Учет задействованных материалов"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-ur-04.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-ur-04.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-ur-04.jpg"
                                    alt="Загрузка исполнительных схем и чертежей"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-ur-05.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-ur-05.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-ur-05.jpg"
                                    alt="Создание актов (АОСР, АООК и др.)"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-ur-06.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-ur-06.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-ur-06.jpg"
                                    alt="Контроль соответствия выполненной работы ведомости объемов работ"
                                    loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="accordion__content cols-8">
                    <h2 class="font-title">
                        Управление работами
                    </h2>
                    <div class="accordion__collaps-box">
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Создание графиков (реестров) работ в
                                    привязке к элементам объекта
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Ведение информации по работе (код,&nbsp;объем,&nbsp;статус&nbsp;и&nbsp;пр.)
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Учет задействованных материалов
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Загрузка исполнительных схем и чертежей
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Создание актов (АОСР,&nbsp;АООК&nbsp;и&nbsp;др.)
                                </h3>
                            </button>
                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Контроль соответствия выполненной работы ведомости объемов работ
                                </h3>
                            </button>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="lines grid" style="z-index:-2">
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                </div>
            </section>
            <section class="accordion grid gutter gb fade-in">
                <div class="accordion__image cols-8">
                    <div class="accordion__slider">
                        <div class="accordion__slides">
                            <picture class="accordion__slide" data-index="0">
                                <source
                                    srcset="/img/accordion-id-vjr-01-02.avif"
                                    type="image/avif">
                                <source
                                    srcset="/img/accordion-id-vjr-01-02.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-vjr-01-02.jpg"
                                    alt="Cоздание ОЖР по форме Минстроя"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source
                                    srcset="/img/accordion-id-vjr-01-02.avif"
                                    type="image/avif">
                                <source
                                    srcset="/img/accordion-id-vjr-01-02.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-vjr-01-02.jpg"
                                    alt="Автоматическое заполнение разделов ОЖР данными из системы"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source
                                    srcset="/img/accordion-id-vjr-03-06.avif"
                                    type="image/avif">
                                <source
                                    srcset="/img/accordion-id-vjr-03-06.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-vjr-03-06.jpg"
                                    alt="Подписание ЭП"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source
                                    srcset="/img/accordion-id-vjr-04-05.avif"
                                    type="image/avif">
                                <source
                                    srcset="/img/accordion-id-vjr-04-05.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-vjr-04-05.jpg"
                                    alt="Импорт в XML с автопроверкой на ошибки (валидацией)"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source
                                    srcset="/img/accordion-id-vjr-04-05.avif"
                                    type="image/avif">
                                <source
                                    srcset="/img/accordion-id-vjr-04-05.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-vjr-04-05.jpg"
                                    alt="Отправка ОЖР в ГСН"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source
                                    srcset="/img/accordion-id-vjr-03-06.avif"
                                    type="image/avif">
                                <source
                                    srcset="/img/accordion-id-vjr-03-06.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-vjr-03-06.jpg"
                                    alt="Загрузка зарегистрированного ОЖР для дальнейшей работы"
                                    loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="accordion__content cols-8">
                    <h2 class="font-title">
                        Ведение общего журнала работ
                    </h2>
                    <div class="accordion__collaps-box">
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Cоздание ОЖР по форме Минстроя
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Автоматическое заполнение разделов ОЖР
                                    данными из системы
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Подписание ЭП
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Импорт в XML с автопроверкой на ошибки
                                    (валидацией)
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Отправка ОЖР в ГСН
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Загрузка зарегистрированного ОЖР для
                                    дальнейшей работы
                                </h3>
                            </button>

                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="lines grid" style="z-index:-2">
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                </div>
            </section>
            <section class="accordion grid gutter gb fade-in">
                <div class="accordion__image cols-8">
                    <div class="accordion__slider">
                        <div class="accordion__slides">
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-sjr-01.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-sjr-01.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-sjr-01.jpg"
                                    alt="Cоздание и ведение 12 специальных журналов работ"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-sjr-02.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-sjr-02.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-sjr-02.jpg"
                                    alt="Автоматическое заполнение разделов спецжурналов данными из системы"
                                    loading="lazy">
                            </picture>
                            <picture class="accordion__slide" data-index="0">
                                <source srcset="/img/accordion-id-sjr-03.avif"
                                    type="image/avif">
                                <source srcset="/img/accordion-id-sjr-03.webp"
                                    type="image/webp">
                                <img src="/img/accordion-id-sjr-03.jpg"
                                    alt="Создание печатных форм (СП 70.13330.2012 и др.)"
                                    loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="accordion__content cols-8">
                    <h2 class="font-title">
                        Специальные журналы работ
                    </h2>
                    <div class="accordion__collaps-box">
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Cоздание и ведение 12 специальных журналов
                                    работ
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Автоматическое заполнение разделов
                                    спецжурналов данными из системы
                                </h3>
                            </button>

                        </div>
                        <div class="accordion__collaps-wrapper">
                            <button class="accordion__collaps-header"
                                id="collaps-wrapper">
                                <div class="accordion__icon arrow-icon"></div>
                                <h3 class="font-header fu">
                                    Создание печатных форм (СП&nbsp;70.13330.2012&nbsp;и&nbsp;др.)
                                </h3>
                            </button>

                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="lines grid" style="z-index:-2">
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                </div>
            </section>
            <section class="table grid gb fade-in">
                <div class="table__block gutter row">
                    <div class="table__content">
                        <h2 class="table__name font-title">Документы
                            системы</h2>
                        <div class="table__scroll">
                            <table>
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Наименование</th>
                                        <th>Формат</th>
                                        <th>Статус</th>
                                        <th>Норматив</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Общий журнал работ</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Журнал входного контроля
                                            материалов</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Журнал сварочных работ</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>СП 70.13330.2012 Приложение Б</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Журнал замоноличивания монтажных
                                            стыков и узлов</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>СП 70.13330.2012 Приложение Д</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Журнал антикоррозионной защиты
                                            сварных соединений</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>СП 70.13330.2012 Приложение В</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Журнал бетонных работ</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>СП 70.13330.2012, Приложение Ф</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Журнал выполнения монтажных
                                            соединений на болтах с
                                            контролируемым натяжением
                                        </td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>СП 70.13330.2012 Приложение Е</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Журнал контрольной тарировки
                                            динамометрических ключей</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>СП 70.13330.2012 Приложение Ж</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Журнал работ по монтажу строительных
                                            конструкций</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>СП 70.13330.2012 Приложение А</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Журнал ухода за бетоном</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>Распоряжение Минтранспорта №ИС-478-р
                                            от 23.05.2002 Форма Ф-55</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Журнал прокладки кабелей</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>И 1.13-07 Форма 18</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>Журнал погружения (забивки)
                                            свай</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>СП 392.1325800.2018 Форма № 4.1</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>Журнал производства антикоррозионных
                                            работ</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>СП 72.13330.2016 Приложение Г</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>Акт освидетельствования скрытых
                                            работ</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>Акт освидетельствования скрытых
                                            работ</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>Приказ Минстроя №344/пр от
                                            16.05.2023г. Приложение 3</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>Акт освидетельствования
                                            ответственных конструкций</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>Акт освидетельствования
                                            ответственных конструкций</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>Приказ Минстроя №344/пр от
                                            16.05.2023г. Приложение 3</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>Акт о проведении входного контроля</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>Акт освидетельствования
                                            геодезической разбивочной основы
                                            объекта капитального
                                            строительства</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>Акт освидетельствования
                                            геодезической разбивочной основы
                                            объекта капитального
                                            строительства</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>Приказ Минстроя №344/пр от
                                            16.05.2023г. Приложение 3</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>Акт освидетельствования участков
                                            сетей инженерно-технических
                                            обеспечения</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>Акт освидетельствования участков
                                            сетей инженерно-технических
                                            обеспечения</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>Приказ Минстроя №344/пр от
                                            16.05.2023г. Приложение 3</td>
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>Акт разбивки осей объекта
                                            капитального строительства на
                                            местности</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td>Акт разбивки осей объекта
                                            капитального строительства на
                                            местности</td>
                                        <td>PDF</td>
                                        <td>реализовано</td>
                                        <td>Приказ Минстроя №344/пр от
                                            16.05.2023г. Приложение 3</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>Извещение о сроках завершения (об
                                            изменении сроков завершения)
                                            работ</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td>Запрос о предоставлении
                                            сведений</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>Заключение о соответствии
                                            построенного (реконструированного)
                                            объекта</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>28</td>
                                        <td>Решение об отказе в выдаче ЗОС</td>
                                        <td>XML</td>
                                        <td>реализовано</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>Ведомость объемов работ</td>
                                        <td>XML</td>
                                        <td>в работе</td>
                                        <td>XSD-схема Минстроя РФ</td>
                                    </tr>
                                    <tr>
                                        <td>30</td>
                                        <td>Акт испытания конструкций здания и
                                            сооружения</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 70.13330.2012 Приложение И</td>
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td>Акт приемки защитного покрытия</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 72.13330.2016 Приложение Д</td>
                                    </tr>
                                    <tr>
                                        <td>32</td>
                                        <td>Ведомость технической документации,
                                            предъявляемой при сдаче-приемке
                                            электромонтажных работ</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 1</td>
                                    </tr>
                                    <tr>
                                        <td>33</td>
                                        <td>Акт технической готовности
                                            электромонтажных работ</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 2</td>
                                    </tr>
                                    <tr>
                                        <td>34</td>
                                        <td>Ведомость изменений и отступлений от
                                            проекта</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 3</td>
                                    </tr>
                                    <tr>
                                        <td>35</td>
                                        <td>Ведомость электромонтажных
                                            недоделок, не препятствующих
                                            комплексному опробованию
                                        </td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 4</td>
                                    </tr>
                                    <tr>
                                        <td>36</td>
                                        <td>Ведомость смонтированного
                                            электрооборудования</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 5</td>
                                    </tr>
                                    <tr>
                                        <td>37</td>
                                        <td>Акт передачи смонтированного
                                            оборудования для производства
                                            пусконаладочных работ
                                        </td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 6б</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>Акт осмотра канализации из труб
                                            перед закрытием</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 11</td>
                                    </tr>
                                    <tr>
                                        <td>39</td>
                                        <td>Акт приемки траншей, каналов,
                                            туннелей и блоков под монтаж
                                            кабелей</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 14а</td>
                                    </tr>
                                    <tr>
                                        <td>40</td>
                                        <td>Протокол осмотра и проверки
                                            сопротивления изоляции кабелей на
                                            барабане перед
                                            прокладкой</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 15</td>
                                    </tr>
                                    <tr>
                                        <td>41</td>
                                        <td>Протокол прогрева кабелей на
                                            барабане перед прокладкой при низких
                                            температурах
                                        </td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 16</td>
                                    </tr>
                                    <tr>
                                        <td>42</td>
                                        <td>Акт осмотра кабельной канализации в
                                            траншеях и каналах перед
                                            закрытием</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 17</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>Паспорт воздушной линии
                                            электропередачи</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 22</td>
                                    </tr>
                                    <tr>
                                        <td>44</td>
                                        <td>Акт замеров в натуре габаритов от
                                            проводов ВЛ до пересекаемого
                                            объекта</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 23</td>
                                    </tr>
                                    <tr>
                                        <td>45</td>
                                        <td>Паспорт заземляющего устройства</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 24</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>Титульный лист</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 25</td>
                                    </tr>
                                    <tr>
                                        <td>47</td>
                                        <td>Акт готовности монолитного бетонного
                                            фундамента под опору ВЛ</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 20</td>
                                    </tr>
                                    <tr>
                                        <td>48</td>
                                        <td>Акт готовности сборных
                                            железобетонных фундаментов под
                                            установку опор ВЛ</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 21</td>
                                    </tr>
                                    <tr>
                                        <td>49</td>
                                        <td>Акт готовности строительной части
                                            помещений (сооружений) к
                                            производству
                                            электромонтажных работ</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 6</td>
                                    </tr>
                                    <tr>
                                        <td>50</td>
                                        <td>Акт о приемке и монтаже силового
                                            трансформатора</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 7</td>
                                    </tr>
                                    <tr>
                                        <td>51</td>
                                        <td>Справка о ликвидации недоделок</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>И 1.13-07 Форма 6а</td>
                                    </tr>
                                    <tr>
                                        <td>52</td>
                                        <td>Акт о растяжке компенсаторов</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 74.13330.2023 Приложение А</td>
                                    </tr>
                                    <tr>
                                        <td>53</td>
                                        <td>Акт на приемку электрозащитной
                                            установки в эксплуатацию</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>РД 153-34.0-20.507-98 Приложение
                                            14</td>
                                    </tr>
                                    <tr>
                                        <td>54</td>
                                        <td>Акт приемки системы оперативного
                                            дистанционного контроля увлажнения
                                            ППУ изоляции
                                            трубопровода</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 74.13330.2023 Приложение В</td>
                                    </tr>
                                    <tr>
                                        <td>55</td>
                                        <td>Акт о проведении испытаний
                                            трубопроводов на прочность и
                                            герметичность</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 74.13330.2023 Приложение Г</td>
                                    </tr>
                                    <tr>
                                        <td>56</td>
                                        <td>Акт о проведении промывки (продувки)
                                            трубопроводов</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 74.13330.2023 Приложение Д</td>
                                    </tr>
                                    <tr>
                                        <td>57</td>
                                        <td>Акт о проведении приемочного
                                            гидравлического испытания напорного
                                            трубопровода на
                                            прочность и герметичность</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 129.13330.2019 Приложение Б</td>
                                    </tr>
                                    <tr>
                                        <td>58</td>
                                        <td>Акт о проведении приемочного
                                            пневматического испытания напорного
                                            трубопровода на
                                            прочность и герметичность</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 129.13330.2019 Приложение В</td>
                                    </tr>
                                    <tr>
                                        <td>59</td>
                                        <td>Акт о проведении промывки и
                                            дезинфекции трубопроводов
                                            (сооружений)
                                            хозяйственно-питьевого
                                            водоснабжения</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 129.13330.2019 Приложение Е</td>
                                    </tr>
                                    <tr>
                                        <td>60</td>
                                        <td>Акт о проведении приемочного
                                            гидравлического испытания
                                            безнапорного трубопровода
                                            на герметичность</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 129.13330.2019 Приложение Д</td>
                                    </tr>
                                    <tr>
                                        <td>61</td>
                                        <td>Общий журнал работ</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>Приказ Минстроя N 1026/пр от
                                            02.12.2022 Приложение 1</td>
                                    </tr>
                                    <tr>
                                        <td>62</td>
                                        <td>Акт отбора образцов (выборки или
                                            проб)</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>ГОСТ 24297-2013</td>
                                    </tr>
                                    <tr>
                                        <td>63</td>
                                        <td>Акт готовности объекта к
                                            производству работ по монтажу систем
                                            автоматизации</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение А.2</td>
                                    </tr>
                                    <tr>
                                        <td>64</td>
                                        <td>Акт передачи технических средств
                                            автоматизации в монтаж</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение А.3</td>
                                    </tr>
                                    <tr>
                                        <td>65</td>
                                        <td>Протокол входного контроля измерения
                                            затухания оптических волокон</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение А.4</td>
                                    </tr>
                                    <tr>
                                        <td>66</td>
                                        <td>Акт окончания работ по монтажу
                                            систем автоматизации</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение А.5</td>
                                    </tr>
                                    <tr>
                                        <td>67</td>
                                        <td>Акт испытания трубных проводок на
                                            прочность и плотность</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение А.7</td>
                                    </tr>
                                    <tr>
                                        <td>68</td>
                                        <td>Акт испытания трубных проводок на
                                            герметичность с определением падения
                                            давления
                                            за время испытания</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение А.8</td>
                                    </tr>
                                    <tr>
                                        <td>69</td>
                                        <td>Акт на обезжиривание труб, арматуры
                                            и соединений</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение А.9</td>
                                    </tr>
                                    <tr>
                                        <td>70</td>
                                        <td>Свидетельство о монтаже трубных
                                            проводок</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение
                                            А.11</td>
                                    </tr>
                                    <tr>
                                        <td>71</td>
                                        <td>Схема расположения сварных швов</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение
                                            А.12</td>
                                    </tr>
                                    <tr>
                                        <td>72</td>
                                        <td>Журнал по сварке трубопроводов</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение
                                            А.13</td>
                                    </tr>
                                    <tr>
                                        <td>73</td>
                                        <td>Разрешение на монтаж технических
                                            средств автоматизации</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение
                                            А.20</td>
                                    </tr>
                                    <tr>
                                        <td>74</td>
                                        <td>Ведомость смонтированных технических
                                            средств автоматизации</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение
                                            А.21</td>
                                    </tr>
                                    <tr>
                                        <td>75</td>
                                        <td>Акт приемки в эксплуатацию отдельных
                                            систем автоматизации</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение
                                            А.22</td>
                                    </tr>
                                    <tr>
                                        <td>76</td>
                                        <td>Акт приемки систем автоматизации в
                                            эксплуатацию</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение
                                            А.23</td>
                                    </tr>
                                    <tr>
                                        <td>77</td>
                                        <td>Акт приостановки (консервации)
                                            монтажных работ по системам
                                            автоматизации</td>
                                        <td>PDF</td>
                                        <td>в работе</td>
                                        <td>СП 77.13330.2016 Приложение
                                            А.24</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="lines grid" style="z-index:-2">
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                </div>
            </section>
            <section class="video grid gutter gb fade-in">
                <video class="row" id="demoVideo" controls playsinline
                    disablePictureInPicture preload="none" width="100%"
                    poster="/img/video-id.jpg">
                    <source src="/vid/demo-id.webm" type="video/webm">
                    <source src="/vid/demo-id.mp4" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
                <div aria-hidden="true" class="lines grid" style="z-index:-2">
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                </div>
            </section>
            <section class="modules grid gutter gb" id="modules"
                data-fade-group>
                <h3 class="font-medium fade-in">
                    <span>Модули</span>
                    <span class="red-text">«ЭТОС»</span>
                </h3>
                <div class="modules__container grid fade-in">
                    <div class="modules__content cols-8">
                        <div class="modules__text-block">
                            <span class="modules__title font-title">
                                Среда общих данных
                            </span>
                            <div class="tags">
                                <div class="tag font-main">
                                    Общий доступ
                                </div>
                                <div class="tag font-main">
                                    ПД
                                </div>
                                <div class="tag font-main">
                                    Приказы
                                </div>
                                <div class="tag font-main">
                                    IFC
                                </div>
                                <div class="tag font-main">
                                    Спецификации
                                </div>
                                <div class="tag font-main">
                                    Ролевая модель
                                </div>
                                <div class="tag font-main">
                                    ТЭП
                                </div>
                                <div class="tag font-main">
                                    Сметы
                                </div>
                                <div class="tag font-main">
                                    ВК РД
                                </div>
                                <div class="tag font-main">
                                    ИРД
                                </div>
                                <div class="tag font-main">
                                    Экспорт в XLS
                                </div>
                                <div class="tag font-main">
                                    Сети
                                </div>
                                <div class="tag font-main">
                                    ВОР
                                </div>
                                <div class="tag font-main">
                                    Конструкции
                                </div>
                                <div class="tag font-main">
                                    РД
                                </div>
                                <div class="tag font-main">
                                    Замечания
                                </div>
                            </div>
                        </div>
                        <a class="modules__button button" href="/modules/sod"
                            type="button">
                            <span class="button__text">Подробнее</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25"
                                height="26" viewBox="0 0 25 26" fill="none">
                                <path d="M22 4L3 23" stroke="#4C0000"
                                    stroke-width="3" stroke-linecap="square" />
                                <path d="M23 23V3H3" stroke="#4C0000"
                                    stroke-width="3" stroke-linecap="square" />
                            </svg>
                        </a>
                    </div>
                    <div class="modules__image cols-8">
                        <video class="lazy-video"
                            loop
                            muted
                            playsinline
                            webkit-playsinline
                            disablePictureInPicture
                            width="800" poster="/img/sod.jpg"
                            preload="metadata">
                            <source data-src="/vid/sod.mp4" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                </div>
                <div aria-hidden="true" class="lines grid" style="z-index:-2">
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                    <div class="cols-4 line"></div>
                </div>
            </section>