// Подключаем шрифт

@font-face {
    font-family: "Manrope";
    src:
        local("Manrope"),
        url("/fonts/manrope-extrabold.woff2") format("woff2"),
        url("/fonts/manrope-extrabold.woff") format("woff"),
        url("/fonts/manrope-extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        local("Manrope"),
        url("/fonts/manrope-bold.woff2") format("woff2"),
        url("/fonts/manrope-bold.woff") format("woff"),
        url("/fonts/manrope-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        local("Manrope"),
        url("/fonts/manrope-semibold.woff2") format("woff2"),
        url("/fonts/manrope-semibold.woff") format("woff"),
        url("/fonts/manrope-semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        local("Manrope"),
        url("/fonts/manrope-medium.woff2") format("woff2"),
        url("/fonts/manrope-medium.woff") format("woff"),
        url("/fonts/manrope-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        local("Manrope"),
        url("/fonts/manrope-regular.woff2") format("woff2"),
        url("/fonts/manrope-regular.woff") format("woff"),
        url("/fonts/manrope-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        local("Manrope"),
        url("/fonts/manrope-light.woff2") format("woff2"),
        url("/fonts/manrope-light.woff") format("woff"),
        url("/fonts/manrope-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        local("Manrope"),
        url("/fonts/manrope-extralight.woff2") format("woff2"),
        url("/fonts/manrope-extralight.woff") format("woff"),
        url("/fonts/manrope-extralight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}