//Переменные:
$font-family: "Manrope", sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);

$color-bg: #ddd;
$color-secondary: #0C2742;
$color-text: #1A3652;
$color-content-block-bg: #E4E4E4;
$color-line: #BEC2C6;
$color-white: #ffffff;
$color-accent: #2383E2;
$color-accent-text: #ffffff;
$color-accent-bg: #DEE4E9;
$color-accent-link-hover: #1867b7;
$color-accent-link-active: #124f8d;


// $color-gray: #c8c8c8;



// $color-cert-badge: #969696;
// $color-gray-bg: #E4E4E4;
// $color-dark-gray-bg: #4E5054;

$bp-xxl: 1440px;
$bp-xl: 1280px;
$bp-lg: 1024px;
$bp-md: 768px;
$bp-sm: 480px;