<!DOCTYPE html>
<html lang="ru">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    {% if description %}
        <meta name="description" content="{{ description }}">
    {% endif %}
    <title>{{ title }}</title>
    {% include "links.njk" %}
    </head>
    <body class="{{pageStyle}}">
    {% include "header.njk" %}


    <main>
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}
    {% include "scripts.njk" %}
    
    {% if page.url == "/" %}
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4432c58f527e78f1879787d090c926a51d192243a30f2fbf426e4fb4f3ba15d4&amp;width=100%25&amp;height=440&amp;lang=ru_RU&amp;theme=dark&amp;color=gray&amp;id=map&amp;scroll=true"></script>
        {% include "swiper-scripts.njk" %}
    {% endif %}
    {% if "/news/" in page.url %}
        {% include "swiper-scripts.njk" %}
    {% endif %}
    {% if "/modules/id/" in page.url %}
        <script src="/js/accordion-nowrap.js"></script>
    {% endif %}
    {% if "/modules/sod/" in page.url %}
        <script src="/js/accordion.js"></script>
    {% endif %}
    </body>
</html>