<footer class="footer grid gutter gt fade-in" id="footer">
    <span class="footer__copyright row font-main">© 2026, ООО«Стройформ»</span>
    <div aria-hidden="true" class="lines grid" style="z-index:-2">
        <div class="cols-4 line"></div>
        <div class="cols-4 line"></div>
        <div class="cols-4 line"></div>
        <div class="cols-4 line"></div>
        <div class="cols-4 line"></div>
    </div>
</footer>