<header class="header">
    <div class="header__container gutter w100">
        <a href="/#hero" class="header__logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="124" height="28" viewBox="0 0 124 28" fill="none">
                <path d="M28 28H0V21H21V17.5H10.498V10.5H21V7H0.00195312V0H28V28Z" fill="inherit" class="logo-accent-letter"/>
                <path d="M60 0V7H50V28H43V7H32V0H60Z" fill="inherit" class="logo-secondary-letters"/>
                <path d="M92 28H64V4.66699H64.002V0H92V28ZM71 21H85V7H71V21Z" fill="inherit" class="logo-secondary-letters"/>
                <path d="M124 7H103V21H123.998V28H96V4.66699H96.002V0H124V7Z" fill="inherit" class="logo-secondary-letters"/>
            </svg>
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li>
                    <a href="/#functions" class="nav-font">Функции</a>
                </li>
                <li>
                    <a href="/#advantages" class="nav-font">Преимущества</a>
                </li>
                <li>
                    <a href="/#swiper" class="nav-font">Интеграции</a>
                </li>
                <li>
                    <a href="/#price" class="nav-font">Стоимость</a>
                </li>
                <li>
                    <a href="/#security" class="nav-font">Безопасность</a>
                </li>
                <li>
                    <a href="/#contacts" class="nav-font">Контакты</a>
                </li>
            </ul>
            <div class="header__nav-icons">
                <a href="tel:84951987880" class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M7.76813 2.439L8.84513 2.095C9.85313 1.773 10.9311 2.294 11.3631 3.312L12.2231 5.34C12.5981 6.223 12.3901 7.262 11.7091 7.908L9.81613 9.706C9.9328 10.782 10.2941 11.841 10.9001 12.883C11.4764 13.8909 12.2486 14.7732 13.1711 15.478L15.4471 14.718C16.3091 14.431 17.2481 14.762 17.7771 15.539L19.0091 17.349C19.6251 18.253 19.5141 19.499 18.7511 20.265L17.9331 21.086C17.1191 21.903 15.9571 22.2 14.8811 21.864C12.3425 21.072 10.0081 18.721 7.87813 14.811C5.74547 10.8943 4.9928 7.57167 5.62013 4.843C5.88413 3.695 6.70213 2.78 7.77013 2.439" fill="currentColor"/>
                    </svg>
                </a>
                <a href="mailto:info@etos-pro.ru" class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M22 8.608V16.75C22.0001 17.5801 21.6824 18.3788 21.1123 18.9822C20.5422 19.5856 19.7628 19.948 18.934 19.995L18.75 20H5.25C4.41986 20.0001 3.62117 19.6824 3.01777 19.1123C2.41437 18.5422 2.052 17.7628 2.005 16.934L2 16.75V8.608L11.652 13.664C11.7594 13.7202 11.8788 13.7496 12 13.7496C12.1212 13.7496 12.2406 13.7202 12.348 13.664L22 8.608ZM5.25 4H18.75C19.5556 3.9999 20.3325 4.299 20.93 4.83927C21.5276 5.37954 21.9032 6.12248 21.984 6.924L12 12.154L2.016 6.924C2.09352 6.15431 2.44305 5.43752 3.00175 4.90246C3.56045 4.36741 4.29168 4.04919 5.064 4.005L5.25 4Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>
            <button class="header__burger" id="navBurger" aria-label="Меню" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
</header>
{# Mobile-menu #}
<div class="mobile-menu gutter" id="mobileMenu">
    <div class="mobile-menu__content w100">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__list-item">
                <a href="/#functions" class="nav-font">
                    <span>Функции</span>
                </a>
            </li>
            <li class="mobile-menu__list-item">
                <a href="/#advantages" class="nav-font">
                    <span>Преимущества</span>
                </a>
            </li>
            <li class="mobile-menu__list-item">
                <a href="/#swiper" class="nav-font">
                    <span>Интеграции</span>
                </a>
            </li>
            <li class="mobile-menu__list-item">
                <a href="/#price" class="nav-font">
                    <span>Стоимость</span>
                </a>
            </li>
            <li class="mobile-menu__list-item">
                <a href="/#security" class="nav-font">
                    <span>Безопасность</span>
                </a>
            </li>
            <li class="mobile-menu__list-item">
                <a href="/#contacts" class="nav-font">
                    <span>Контакты</span>
                </a>
            </li>
        </ul>
        <ul class="mobile-menu__list">
            <li class="mobile-menu__list-item">
                <a href="tel:84951987880" class="nav-font">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M7.76813 2.439L8.84513 2.095C9.85313 1.773 10.9311 2.294 11.3631 3.312L12.2231 5.34C12.5981 6.223 12.3901 7.262 11.7091 7.908L9.81613 9.706C9.9328 10.782 10.2941 11.841 10.9001 12.883C11.4764 13.8909 12.2486 14.7732 13.1711 15.478L15.4471 14.718C16.3091 14.431 17.2481 14.762 17.7771 15.539L19.0091 17.349C19.6251 18.253 19.5141 19.499 18.7511 20.265L17.9331 21.086C17.1191 21.903 15.9571 22.2 14.8811 21.864C12.3425 21.072 10.0081 18.721 7.87813 14.811C5.74547 10.8943 4.9928 7.57167 5.62013 4.843C5.88413 3.695 6.70213 2.78 7.77013 2.439" fill="currentColor"/>
                    </svg>
                    <span>8(495)198-78-80</span>
                </a>
            </li>
            <li class="mobile-menu__list-item">
                <a href="mailto:info@etos-pro.ru" class="nav-font">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M22 8.608V16.75C22.0001 17.5801 21.6824 18.3788 21.1123 18.9822C20.5422 19.5856 19.7628 19.948 18.934 19.995L18.75 20H5.25C4.41986 20.0001 3.62117 19.6824 3.01777 19.1123C2.41437 18.5422 2.052 17.7628 2.005 16.934L2 16.75V8.608L11.652 13.664C11.7594 13.7202 11.8788 13.7496 12 13.7496C12.1212 13.7496 12.2406 13.7202 12.348 13.664L22 8.608ZM5.25 4H18.75C19.5556 3.9999 20.3325 4.299 20.93 4.83927C21.5276 5.37954 21.9032 6.12248 21.984 6.924L12 12.154L2.016 6.924C2.09352 6.15431 2.44305 5.43752 3.00175 4.90246C3.56045 4.36741 4.29168 4.04919 5.064 4.005L5.25 4Z" fill="currentColor"/>
                    </svg>
                    <span>info@etos-pro.ru</span>
                </a>
            </li>
        </ul>
        <a type="button" class="button mobile-fullscreen-menu__button w100 adapt-btn" href="/#distributor">
            <span class="button__text">Заказать презентацию</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
                <path d="M22 4L3 23" stroke="#4C0000" stroke-width="3" stroke-linecap="square"/>
                <path d="M23 23V3H3" stroke="#4C0000" stroke-width="3" stroke-linecap="square"/>
            </svg>
        </a>
    </div>
    <div aria-hidden="true" class="lines grid" style="z-index:-2">
        <div class="cols-4 line"></div>
        <div class="cols-4 line"></div>
        <div class="cols-4 line"></div>
        <div class="cols-4 line"></div>
        <div class="cols-4 line"></div>
    </div>
</div>