<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4432c58f527e78f1879787d090c926a51d192243a30f2fbf426e4fb4f3ba15d4&amp;width=100%25&amp;height=440&amp;lang=ru_RU&amp;theme=dark&amp;color=gray&amp;id=map&amp;scroll=true"></script>