  {# Сохраняем отфильтрованный список в переменную #}
  {% set otherNews = collections.news | reverse %}
  
  {# Показываем секцию слайдера, только если есть другие новости #}
  {% if otherNews.length > 0 %}
  <section class="swiper-container gutter gt fade-in" id="swiper">
    <div class="swiper-header">
      <h2 class="font-medium">Другие новости</h2>
      <div class="swiper-nav">
        <div class="swiper-button-prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="93"
            height="91"
            viewBox="0 0 93 91"
            fill="none"
          >
            <path
              d="M69.4638 45.4282L24.2422 45.4282"
              stroke="white"
              stroke-width="4"
            />
            <path
              d="M43.4639 64.9281L23.9998 45.464L43.4639 26"
              stroke="white"
              stroke-width="4"
            />
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="93"
            height="91"
            viewBox="0 0 93 91"
            fill="none"
          >
            <path
              d="M24.0001 45.4282L69.2217 45.4282"
              stroke="white"
              stroke-width="4"
            />
            <path
              d="M50 64.9281L69.464 45.464L50 26"
              stroke="white"
              stroke-width="4"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper-wrapper">
      {% set otherNews = collections.news | exceptCurrent(page.url) | reverse %}
          {% for post in otherNews %}
            {% include "news-card.njk" %}
          {% endfor %}
      </div>
    <div aria-hidden="true" class="lines grid" style="z-index: -2">
      <div class="cols-4 line"></div>
      <div class="cols-4 line"></div>
      <div class="cols-4 line"></div>
      <div class="cols-4 line"></div>
      <div class="cols-4 line"></div>
    </div>
  </section>
  {% endif %}