  <section class="swiper-container gutter gt fade-in" id="swiper">
    <div class="swiper-header">
      <h2 class="font-medium">Другие новости</h2>
      <div class="swiper-nav">
        <div class="swiper-button-prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="93"
            height="91"
            viewBox="0 0 93 91"
            fill="none"
          >
            <path
              d="M69.4638 45.4282L24.2422 45.4282"
              stroke="white"
              stroke-width="4"
            />
            <path
              d="M43.4639 64.9281L23.9998 45.464L43.4639 26"
              stroke="white"
              stroke-width="4"
            />
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="93"
            height="91"
            viewBox="0 0 93 91"
            fill="none"
          >
            <path
              d="M24.0001 45.4282L69.2217 45.4282"
              stroke="white"
              stroke-width="4"
            />
            <path
              d="M50 64.9281L69.464 45.464L50 26"
              stroke="white"
              stroke-width="4"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper-wrapper">
      <a
        class="swiper-slide"
        href="/news/etos-v-programme-nevskogo-stroitelnogo-foruma-2025"
      >
        <div class="card">
          <article class="news-card">
            <div class="news-card__image">
              <picture>
                <source
                  srcset="/img/news-02.avif 1x, /img/news-02@2x.avif 2x"
                  type="image/avif"
                />
                <source
                  srcset="/img/news-02.webp 1x, /img/news-02@2x.webp 2x"
                  type="image/webp"
                />
                <img
                  src="/img/advantages-bulder.jpg"
                  srcset="/img/news-02.jpg 1x, /img/news-02@2x.jpg 2x"
                  alt="«Этос» на невском строительном форуме"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="news-card__content">
              <time class="news-date font-main">30.05.2025</time>
              <span class="news-title font-title"
                >«Этос» в программе Невского строительного форума-2025</span
              >
              <p class="news-excerpt font-main">
                10-12 сентября 2025 года в Санкт-Петербурге пройдет одно из
                крупнейших деловых событий отрасли – Невский строительный форум.
                Эксперты «Этос» представят на нем свое решение по управлению
                цифровыми ведомостями объемов работ.
              </p>
            </div>
          </article>
        </div>
      </a>
      <a
        class="swiper-slide"
        href="/news/skolko-stoit-perekhod-na-tsifrovuyu-id"
      >
        <div class="card">
          <article class="news-card">
            <div class="news-card__image">
              <picture>
                <source
                  srcset="/img/news-01.avif 1x, /img/news-01@2x.avif 2x"
                  type="image/avif"
                />
                <source
                  srcset="/img/news-01.webp 1x, /img/news-01@2x.webp 2x"
                  type="image/webp"
                />
                <img
                  src="/img/advantages-bulder.jpg"
                  srcset="/img/news-01.jpg 1x, /img/news-01@2x.jpg 2x"
                  alt="Онлайн-вебинар о стоимости перхода на цифоровую ИД"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="news-card__content">
              <time class="news-date font-main">29.05.2025</time>
              <span class="news-title font-title"
                >Сколько стоит переход на цифровую ИД?</span
              >
              <p class="news-excerpt font-main">
                Уже совсем скоро ведение исполнительной документации в цифровом
                виде станет обязательным для всех участников отрасли. С чем
                столкнутся застройщики при переходе на «цифру» и во сколько
                обойдется им специализированное ПО, рассказали эксперты компании
                «Стройформ».
              </p>
            </div>
          </article>
        </div>
      </a>
    </div>
    <div aria-hidden="true" class="lines grid" style="z-index: -2">
      <div class="cols-4 line"></div>
      <div class="cols-4 line"></div>
      <div class="cols-4 line"></div>
      <div class="cols-4 line"></div>
      <div class="cols-4 line"></div>
    </div>
  </section>