---
layout: base.njk
pageStyle: modules-style
title: Среда общих данных
description: "Программный модуль для совместной работы с проектной и рабочей документацией: быстрое подключение пользователей, гибкая настройка прав доступа, обмен данными с внешними системами"
---
        <section class="hero grid gutter gb fade-in" id="hero" data-fade-group>
            <div class="hero__content cols-8">
                <div class="hero__modules-info">
                    <div class="hero__text">
                        <h1 class="hero__title font-large">Среда общих
                            данных</h1>
                        <p class="hero__description font-main">
                            Среда общих данных – программный модуль,
                            обеспечивающий единое информационное
                            пространство для работы с комплексом технической
                            документации для всех участников проекта.
                        </p>
                    </div>
                    <div class="tags">
                        <div class="tag font-main">
                            Общий доступ
                        </div>
                        <div class="tag font-main">
                            ПД
                        </div>
                        <div class="tag font-main">
                            Приказы
                        </div>
                        <div class="tag font-main">
                            IFC
                        </div>
                        <div class="tag font-main">
                            Спецификации
                        </div>
                        <div class="tag font-main">
                            Ролевая модель
                        </div>
                        <div class="tag font-main">
                            ТЭП
                        </div>
                        <div class="tag font-main">
                            Сметы
                        </div>
                        <div class="tag font-main">
                            ВК РД
                        </div>
                        <div class="tag font-main">
                            ИРД
                        </div>
                        <div class="tag font-main">
                            Экспорт в XLS
                        </div>
                        <div class="tag font-main">
                            Сети
                        </div>
                        <div class="tag font-main">
                            ВОР
                        </div>
                        <div class="tag font-main">
                            Конструкции
                        </div>
                        <div class="tag font-main">
                            РД
                        </div>
                        <div class="tag font-main">
                            Замечания
                        </div>
                    </div>
                </div>
                <a type="button" class="button mobile-fullscreen-menu__button adapt-btn" href="/#distributor">
                    <span class="button__text">Заказать презентацию</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
                        <path d="M22 4L3 23" stroke="#4C0000" stroke-width="3" stroke-linecap="square" />
                        <path d="M23 23V3H3" stroke="#4C0000" stroke-width="3" stroke-linecap="square" />
                    </svg>
                </a>
            </div>
            <div class="hero__image cols-8">
                <picture>
                    <source media="(min-width: 582px) and (max-width: 1104px)" srcset="
                        /img/hero-table-modules-sod.avif 1x,
                        /img/hero-table-modules-sod@2x.avif 2x
                        " type="image/avif">
                    <source media="(min-width: 582px) and (max-width: 1104px)" srcset="
                        /img/hero-table-modules-sod.webp 1x,
                        /img/hero-table-modules-sod@2x.webp 2x
                        " type="image/webp">
                    <source srcset="
                        /img/hero-modules-sod.avif 1x,
                        /img/hero-modules-sod@2x.avif 2x
                        " type="image/avif">
                    <source srcset="
                        /img/hero-modules-sod.webp 1x,
                        /img/hero-modules-sod@2x.webp 2x
                        " type="image/webp">
                    <img src="/img/hero-modules-sod.png" srcset="
                        /img/hero-modules-sod.png 1x,
                        /img/hero-modules-sod@2x.png 2x
                        " alt="Специалисты изучают данные в «Среде общих данных» – едином информационном пространстве для участников проекта" loading="lazy">
                </picture>
            </div>
            <div aria-hidden="true" class="lines grid" style="z-index:-2">
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
            </div>
        </section>
        <section class="accordion grid gutter gb fade-in">
            <div class="accordion__image cols-8">
                <div class="accordion__slider">
                    <div class="accordion__slides">
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-od-01.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-od-01.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-od-01.jpg"
                                alt="Cтруктурированное хранение информации об объектах, их структурных элементах (конструкциях, сетях) и характеристиках"
                                loading="lazy">
                        </picture>
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-od-02.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-od-02.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-od-02.jpg"
                                alt="Cтруктурированное хранение информации об участниках строительства"
                                loading="lazy">
                        </picture>
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-od-03.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-od-03.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-od-03.jpg"
                                alt="Гибкая настройка прав доступа для всех пользователей системы"
                                loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="accordion__content cols-8">
                <h2 class="font-title">
                    Организация хранения и доступа к данным
                </h2>
                <div class="accordion__collaps-box">
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Cтруктурированное хранение информации об
                                объектах, их структурных элементах
                                (конструкциях, сетях) и характеристиках
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            По каждому строящемуся объекту в системе
                            доступна полная информация, включая «дерево»
                            элементов, повторяющее структуру IFC-модели, и
                            исчерпывающий перечень технико-экономических
                            показателей.
                        </p>
                    </div>
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Cтруктурированное хранение информации об
                                участниках строительства
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            В системе ведется учет сведений обо всех
                            организациях, занятых на объекте, и их
                            сотрудниках.
                        </p>
                    </div>
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Гибкая настройка прав доступа для всех
                                пользователей системы
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            Настройки программы позволяют ограничить доступ
                            к любым данным системы как для организаций в
                            зависимости от их функции, типа выполняемых
                            работ и пр., так и для отдельных сотрудников (выбор из 70 функций).
                        </p>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="lines grid" style="z-index:-2">
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
            </div>
        </section>
        <section class="accordion grid gutter gb fade-in">
            <div class="accordion__image cols-8">
                <div class="accordion__slider">
                    <div class="accordion__slides">
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-sr-01.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-sr-01.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-sr-01.jpg"
                                alt="Общий доступ к технической документации согласно ролевой модели"
                                loading="lazy">
                        </picture>
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-sr-02.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-sr-02.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-sr-02.jpg"
                                alt="Ведение версионности по каждому документу"
                                loading="lazy">
                        </picture>
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-sr-03.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-sr-03.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-sr-03.jpg"
                                alt="Контроль качества ПД (выдача замечаний, контроль за устранением несоответствий)"
                                loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="accordion__content cols-8">
                <h2 class="font-title">
                    Совместная работа с документацией
                </h2>
                <div class="accordion__collaps-box">
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Общий доступ к технической документации
                                согласно ролевой модели
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            Актуальные версии документации по проекту, а
                            также история всех изменений, всегда доступна
                            пользователям, наделенным необходимыми правами
                            доступа.
                        </p>
                    </div>
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Ведение версионности по каждому документу
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            По каждому документу из состава ИРД, ПД и РД
                            ведется учет версионности с возможностью
                            получить информацию обо всех сделанных
                            изменениях.
                        </p>
                    </div>
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Контроль качества ПД (выдача замечаний,
                                контроль за устранением несоответствий)
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            В системе реализованы функции по выдаче
                            замечаний к любому файлу ПД, их отправки
                            проектировщику, а также контроля устранения
                            выявленных несоответствий.
                        </p>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="lines grid" style="z-index:-2">
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
            </div>
        </section>
        <section class="accordion grid gutter gb fade-in">
            <div class="accordion__image cols-8">
                <div class="accordion__slider">
                    <div class="accordion__slides">
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-pd-01.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-pd-01.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-pd-01.jpg"
                                alt="Загрузка исходно-разрешительной документации"
                                loading="lazy">
                        </picture>
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-pd-02-03.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-pd-02-03.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-pd-02-03.jpg"
                                alt="Загрузка проектной документации и результатов инженерных изысканий"
                                loading="lazy">
                        </picture>
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-pd-02-03.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-pd-02-03.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-pd-02-03.jpg"
                                alt="Загрузка и просмотр IFC-моделей"
                                loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="accordion__content cols-8">
                <h2 class="font-title">
                    Работа с ПД
                </h2>
                <div class="accordion__collaps-box">
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Загрузка исходно-разрешительной документации
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            Система обеспечивает загрузку и
                            структурированное хранение
                            исходно-разрешительной документации в
                            соответствии с Постановлением Правительства РФ
                            от 16.02.2008 № 87.
                        </p>
                    </div>
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Загрузка проектной документации и
                                результатов инженерных изысканий
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            Система обеспечивает загрузку и
                            структурированное хранение проектно-сметной
                            документации и результатов инженерных изысканий
                            в соответствии с Постановлением Правительства РФ
                            от 16.02.2008 № 87.
                        </p>
                    </div>
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Загрузка и просмотр IFC-моделей
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            В системе реализован просмотр файлов
                            информационных моделей в формате IFC и их
                            элементов без установки дополнительного ПО.
                        </p>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="lines grid" style="z-index:-2">
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
            </div>
        </section>
        <section class="accordion grid gutter gb fade-in">
            <div class="accordion__image cols-8">
                <div class="accordion__slider">
                    <div class="accordion__slides">
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-rd-01.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-rd-01.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-rd-01.jpg"
                                alt="Загрузка состава рабочей документации"
                                loading="lazy">
                        </picture>
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-rd-02.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-rd-02.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-rd-02.jpg"
                                alt="Входной контроль рабочей документации"
                                loading="lazy">
                        </picture>
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-rd-04.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-rd-04.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-rd-04.jpg"
                                alt="Работа с ведомостями объемов работ и спецификациями"
                                loading="lazy">
                        </picture>
                        <picture class="accordion__slide" data-index="0">
                            <source srcset="/img/accordion-sod-rd-03.avif"
                                type="image/avif">
                            <source srcset="/img/accordion-sod-rd-03.webp"
                                type="image/webp">
                            <img src="/img/accordion-sod-rd-03.jpg"
                                alt="Просмотр документов ГСН"
                                loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="accordion__content cols-8">
                <h2 class="font-title">
                    Работа с РД
                </h2>
                <div class="accordion__collaps-box">
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Загрузка состава рабочей документации
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            Система обеспечивает загрузку и
                            структурированное хранение рабочей документации
                            в соответствии с ГОСТ Р 21.101-20.
                        </p>
                    </div>
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Входной контроль рабочей документации
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            В системе реализованы функции по выдаче замечаний к любому файлу РД, 
                            их отправки проектировщику, а также контроля устранения выявленных несоответствий. 
                        </p>
                    </div>
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Работа с ведомостями объемов работ и спецификациями
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            Программа позволяет работать с ВОР и листами спецификации, как с таблицами, 
                            и далее контролировать соответствие указанным документам поставленных материалов и выполненных работ
                        </p>
                    </div>
                    <div class="accordion__collaps-wrapper">
                        <button class="accordion__collaps-header" id="collaps-wrapper">
                            <svg class="accordion__icon" width="24" height="24" viewBox="0 0 24 24">
                                <line x1="2" y1="12" x2="22" y2="12" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                                <line x1="12" y1="2" x2="12" y2="22" stroke="white" stroke-width="2"
                                    stroke-linecap="round" />
                            </svg>
                            <h3 class="font-header">
                                Просмотр документов ГСН
                            </h3>
                        </button>
                        <p class="accordion__collaps-content font-main" id="collaps-content">
                            В отдельном разделе среды общих данных в
                            человекочитаемом виде доступны все документы,
                            направленные контролируемому лицу органом
                            государственного строительного надзора.
                        </p>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="lines grid" style="z-index:-2">
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
            </div>
        </section>
        <section class="video grid gutter gb fade-in">
            <video class="row" id="demoVideo" controls playsinline disablePictureInPicture preload="none" width="100%"
                poster="/img/video-sod.jpg">
                <source src="/vid/demo-sod.webm" type="video/webm">
                <source src="/vid/demo-sod.mp4" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>
            <div aria-hidden="true" class="lines grid" style="z-index:-2">
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
            </div>
        </section>
        <section class="modules grid gutter gb" id="modules" data-fade-group>
            <h2 class="font-medium fade-in">
                <span>Модули</span>
                <span class="red-text">«ЭТОС»</span>
            </h2>
            <div class="modules__container grid fade-in">
                <div class="modules__content cols-8">
                    <div class="modules__text-block">
                        <span class="modules__title font-title">
                            Исполнительная документация
                        </span>
                        <div class="tags">
                            <div class="tag font-main">
                                ИД
                            </div>
                            <div class="tag font-main">
                                Поставки МТР
                            </div>
                            <div class="tag font-main">
                                Сертификаты
                            </div>
                            <div class="tag font-main">
                                Протоколы
                            </div>
                            <div class="tag font-main">
                                ЭП
                            </div>
                            <div class="tag font-main">
                                АООК
                            </div>
                            <div class="tag font-main">
                                Прогресс СМР
                            </div>
                            <div class="tag font-main">
                                Накладные
                            </div>
                            <div class="tag font-main">
                                Спецжурналы
                            </div>
                            <div class="tag font-main">
                                АОСР
                            </div>
                            <div class="tag font-main">
                                СК
                            </div>
                            <div class="tag font-main">
                                Исполнительные схемы
                            </div>
                            <div class="tag font-main">
                                XML-схемы
                            </div>
                            <div class="tag font-main">
                                ОЖР
                            </div>
                        </div>
                    </div>
                    <a class="modules__button button" type="button" href="/modules/id">
                        <span class="button__text">Подробнее</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
                            <path d="M22 4L3 23" stroke="#4C0000" stroke-width="3" stroke-linecap="square" />
                            <path d="M23 23V3H3" stroke="#4C0000" stroke-width="3" stroke-linecap="square" />
                        </svg>
                    </a>
                </div>
                <div class="modules__image cols-8">
                    <video class="lazy-video" loop muted playsinline webkit-playsinline disablePictureInPicture
                        width="800" poster="/img/id.jpg" preload="metadata">
                        <source data-src="/vid/id.mp4" type="video/mp4">
                        Ваш браузер не поддерживает видео.
                    </video>
                </div>
            </div>
            <div aria-hidden="true" class="lines grid" style="z-index:-2">
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
                <div class="cols-4 line"></div>
            </div>
        </section>