---
layout: base.njk
title: Система управления строительством
description: "Универсальное решение для управления строительными проектами любой сложности: быстрое внедрение, конкурентная стоимость, гибкая настройка"
---
      <section class="hero grid gutter gb fade-in" id="hero" data-fade-group>
        <div class="hero__content cols-8">
          <h1 class="hero__title">
            <span class="hero__title-line font-large" aria-hidden="true"
              >Цифровые решения</span
            >
            <span class="hero__title-line font-title" aria-hidden="true"
              >для реальной стройки</span
            >
            <span class="visually-hidden"
              >Цифровые решения для реальной стройки</span
            >
          </h1>
        </div>
        <div class="hero__image cols-8">
          <picture>
            <source
              media="(min-width: 582px) and (max-width: 1024px)"
              srcset="/img/hero-tablet.avif 1x, /img/hero-tablet@2x.avif 2x"
              type="image/avif"
            />
            <source
              media="(min-width: 582px) and (max-width: 1024px)"
              srcset="/img/hero-tablet.webp 1x, /img/hero-tablet@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="/img/hero-default.avif 1x, /img/hero-default@2x.avif 2x"
              type="image/avif"
            />
            <source
              srcset="/img/hero-default.webp 1x, /img/hero-default@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="/img/hero-default.png"
              srcset="/img/hero-default.png 1x, /img/hero-default@2x.png 2x"
              alt="Бизнесмен анализирует график роста на планшете с помощью цифровой экосистемы ЭТОС для строительства"
              loading="lazy"
            />
          </picture>
        </div>
        <div aria-hidden="true" class="lines grid" style="z-index: -2">
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
        </div>
      </section>
      <section class="functions standart-block grid gutter gt main-title-gap" id="functions" data-fade-group>
        <h2 class="font-medium fade-in">Преимущества</h2>
        <div class="standart-block__container grid fade-in">
          <div class="standart-block__content cols-8 fade-in">
            <div class="standart-block__text-block">
              <div class="vertical-list">
                
              </div>
            </div>
            <div class="standart-block__buttons">
              <a
                class="standart-block__button button adapt-btn"
                type="button"
                href="contacts"
              >
                <span class="button__text">Заказать презентацию</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="26"
                  viewBox="0 0 25 26"
                  fill="none"
                >
                  <path
                    d="M22 4L3 23"
                    stroke="#4C0000"
                    stroke-width="3"
                    stroke-linecap="square"
                  />
                  <path
                    d="M23 23V3H3"
                    stroke="#4C0000"
                    stroke-width="3"
                    stroke-linecap="square"
                  />
                </svg>
              </a>
              <a
                class="standart-block__button button button-2"
                type="button"
                href="https://docs.etos-pro.ru/services/idoc/"
              >
                <span class="button__text">База знаний</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="26"
                  viewBox="0 0 25 26"
                  fill="none"
                >
                  <path
                    d="M22 4L3 23"
                    stroke="#4C0000"
                    stroke-width="3"
                    stroke-linecap="square"
                  />
                  <path
                    d="M23 23V3H3"
                    stroke="#4C0000"
                    stroke-width="3"
                    stroke-linecap="square"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="standart-block__image cols-8 fade-in">
            <picture>
              <source
                srcset="/img/intro.avif 1x, /img/intro@2x.avif 2x"
                type="image/avif"
              />
              <source
                srcset="/img/intro.webp 1x, /img/intro@2x.webp 2x"
                type="image/webp"
              />
              <img
                src="/img/intro.jpg"
                srcset="/img/intro.jpg 1x, /img/intro@2x.jpg 2x"
                alt="Специалист следит за обновлениями в законодатестве"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
        <div aria-hidden="true" class="lines grid" style="z-index: -2">
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
        </div>
      </section>
      <section class="modules gutter gt main-title-gap" id="modules" data-fade-group>
        <h2 class="font-medium fade-in">
          <span>Модули</span>
          <span class="red-text">«ЭТОС»</span>
        </h2>
        <div class="modules__container grid fade-in">
          <div class="modules__content cols-8">
            <div class="modules__text-block">
              <h3 class="modules__title font-title">Среда общих данных</h3>
              <div class="tags">
                <div class="tag font-main">Общий доступ</div>
                <div class="tag font-main">ПД</div>
                <div class="tag font-main">Приказы</div>
                <div class="tag font-main">IFC</div>
                <div class="tag font-main">Спецификации</div>
                <div class="tag font-main">Ролевая модель</div>
                <div class="tag font-main">ТЭП</div>
                <div class="tag font-main">Сметы</div>
                <div class="tag font-main">ВК РД</div>
                <div class="tag font-main">ИРД</div>
                <div class="tag font-main">Экспорт в XLS</div>
                <div class="tag font-main">Сети</div>
                <div class="tag font-main">ВОР</div>
                <div class="tag font-main">Конструкции</div>
                <div class="tag font-main">РД</div>
                <div class="tag font-main">Замечания</div>
              </div>
            </div>
            <a class="modules__button button" href="/modules/sod" type="button">
              <span class="button__text">Подробнее</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="26"
                viewBox="0 0 25 26"
                fill="none"
              >
                <path
                  d="M22 4L3 23"
                  stroke="#4C0000"
                  stroke-width="3"
                  stroke-linecap="square"
                />
                <path
                  d="M23 23V3H3"
                  stroke="#4C0000"
                  stroke-width="3"
                  stroke-linecap="square"
                />
              </svg>
            </a>
          </div>
          <div class="modules__image cols-8">
            <video
              class="lazy-video"
              loop
              muted
              playsinline
              webkit-playsinline
              disablePictureInPicture
              width="800"
              poster="/img/sod.jpg"
              preload="metadata"
            >
              <source data-src="/vid/sod.mp4" type="video/mp4" />
              Ваш браузер не поддерживает видео.
            </video>
          </div>
        </div>
        <div class="modules__container grid fade-in">
          <div class="modules__content cols-8">
            <div class="modules__text-block">
              <h3 class="modules__title font-title">
                Исполнительная документация
              </h3>
              <div class="tags">
                <div class="tag font-main">ИД</div>
                <div class="tag font-main">Поставки МТР</div>
                <div class="tag font-main">Сертификаты</div>
                <div class="tag font-main">Протоколы</div>
                <div class="tag font-main">ЭП</div>
                <div class="tag font-main">АООК</div>
                <div class="tag font-main">Прогресс СМР</div>
                <div class="tag font-main">Накладные</div>
                <div class="tag font-main">Спецжурналы</div>
                <div class="tag font-main">АОСР</div>
                <div class="tag font-main">СК</div>
                <div class="tag font-main">Исполнительные схемы</div>
                <div class="tag font-main">XML-схемы</div>
                <div class="tag font-main">ОЖР</div>
              </div>
            </div>
            <a class="modules__button button" type="button" href="/modules/id">
              <span class="button__text">Подробнее</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="26"
                viewBox="0 0 25 26"
                fill="none"
              >
                <path
                  d="M22 4L3 23"
                  stroke="#4C0000"
                  stroke-width="3"
                  stroke-linecap="square"
                />
                <path
                  d="M23 23V3H3"
                  stroke="#4C0000"
                  stroke-width="3"
                  stroke-linecap="square"
                />
              </svg>
            </a>
          </div>
          <div class="modules__image cols-8">
            <video
              class="lazy-video"
              loop
              muted
              playsinline
              webkit-playsinline
              disablePictureInPicture
              width="800"
              poster="/img/id.jpg"
              preload="metadata"
            >
              <source data-src="/vid/id.mp4" type="video/mp4" />
              Ваш браузер не поддерживает видео.
            </video>
          </div>
        </div>
      </section>
      <section
        class="advantages gutter grid gt main-title-gap"
        id="advantages"
        data-fade-group
      >
        <h2 class="font-medium fade-in">Преимущества</h2>
        <div class="advantages__containers">
          <div class="advantages__container grid">
            <div class="advantages__image cols-8 fade-in">
              <picture>
                <source
                  srcset="
                    /img/advantages-bulder.avif    1x,
                    /img/advantages-bulder@2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  srcset="
                    /img/advantages-bulder.webp    1x,
                    /img/advantages-bulder@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  src="/img/advantages-bulder.jpg"
                  srcset="
                    /img/advantages-bulder.jpg    1x,
                    /img/advantages-bulder@2x.jpg 2x
                  "
                  alt="Основатель «Этос» — строитель с 20-летним стажем в Росэнергоатоме и Ростехнадзоре"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="advantages__content cols-8 fade-in">
              <div class="advantages__element">
                <h3 class="advantages__title font-title">
                  Сделано строителями для строителей
                </h3>
                <p class="advantages__description">
                  Создатели «Этос» – профессиональные строители с опытом работы
                  в АО «Концерн Росэнергоатом», Ростехнадзоре,
                  Мособлгосэкспертизе и других крупнейших организациях отрасли.
                </p>
              </div>
              <div class="advantages__icon">
                <svg
                  width="84"
                  height="84"
                  viewBox="0 0 84 84"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M42.0014 27.969H24.665L24.6621 17.7393H51.2192L59.3377 27.969H42.0014ZM42.0014 27.969V66.2605"
                    stroke="white"
                    stroke-opacity="0.5"
                    stroke-width="2"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="advantages__container grid">
            <div class="advantages__content cols-8 fade-in">
              <div class="advantages__element">
                <h3 class="advantages__title font-title">
                  Импорто&shy;независимость
                </h3>
                <p class="advantages__description">
                  Программа для ЭВМ «Этос» внесена в реестр российского ПО (№
                  6719), ее безопасность подтверждена сертификатом ФСТЭК по 4-му
                  уровню доверия. Разработчик системы ООО «Стройформ» –
                  аккредитованная IT-компания, имеет лицензии ФСТЭК России и
                  ФСБ.
                </p>
              </div>
              <div class="advantages__icon">
                <svg
                  width="84"
                  height="84"
                  viewBox="0 0 84 84"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M59 54.8839V23.0809L46.1351 23.0972L42 20.5L37.4054 23.0809L25 23.0972V54.9002L42 63.5L59 54.8839Z"
                    stroke="white"
                    stroke-opacity="0.5"
                    stroke-width="2"
                  />
                </svg>
              </div>
              <div class="advantages__bg">
                <picture>
                  <source
                    srcset="/img/advantages-bg-1.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="/img/advantages-bg-1.webp"
                    type="image/webp"
                  />
                  <img
                    src="/img/advantages-bg-1.jpg"
                    aria-hidden="true"
                    alt=""
                    loading="lazy"
                  />
                </picture>
              </div>
            </div>
            <div class="advantages__content cols-8 fade-in">
              <div class="advantages__element">
                <h3 class="advantages__title font-title">
                  Кросс&shy;платформенность
                </h3>
                <p class="advantages__description">
                  Все модули «Этос» – это веб-приложения, для работы которых на
                  стороне клиента нужен только браузер и выход в интернет, а на
                  стороне сервера – Windows или любой из современный
                  Linux-дистрибутивов (Debian, Ubuntu, Astra Linux и пр.).
                </p>
              </div>
              <div class="advantages__icon">
                <svg
                  width="84"
                  height="84"
                  viewBox="0 0 84 84"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M56.319 44.742V61.4982H22.1973V27.9858H39.2581"
                    stroke="white"
                    stroke-opacity="0.5"
                    stroke-width="2"
                  />
                  <path
                    d="M37.8047 46.5017L61.8037 22.5017M61.8037 22.5017H45.5M61.8037 22.5017V39.0017"
                    stroke="white"
                    stroke-opacity="0.5"
                    stroke-width="2"
                  />
                </svg>
              </div>
              <div class="advantages__bg">
                <picture>
                  <source
                    srcset="/img/advantages-bg-2.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="/img/advantages-bg-2.webp"
                    type="image/webp"
                  />
                  <img
                    src="/img/advantages-bg-2.jpg"
                    aria-hidden="true"
                    alt=""
                    loading="lazy"
                  />
                </picture>
              </div>
            </div>
          </div>
          <div class="advantages__container grid">
            <div class="advantages__image cols-8 fade-in">
              <picture>
                <source
                  srcset="
                    /img/advantages-team.avif    1x,
                    /img/advantages-team@2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  srcset="
                    /img/advantages-team.webp    1x,
                    /img/advantages-team@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  src="/img/advantages-team.jpg"
                  srcset="
                    /img/advantages-team.jpg    1x,
                    /img/advantages-team@2x.jpg 2x
                  "
                  alt="Команда «Этос»"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="advantages__content cols-8 fade-in">
              <div class="advantages__element">
                <h3 class="advantages__title font-title">
                  Постоянное развитие
                </h3>
                <p class="advantages__description">
                  Благодаря уникальной архитектуре и использованию low-code
                  технологий «Этос» быстро адаптируется под любые изменения
                  законодательства, с каждой новой версией предоставляя
                  пользователям всё новые и новые возможности по управлению
                  проектами.
                </p>
              </div>
              <div class="advantages__icon">
                <svg
                  width="84"
                  height="84"
                  viewBox="0 0 84 84"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.5 54.8988L35.8726 38.529L45.8037 47.7971L64.4998 29.1011M64.4998 29.1011H50.8344M64.4998 29.1011V42.7664"
                    stroke="#9D9D9D"
                    stroke-width="2"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div aria-hidden="true" class="lines grid" style="z-index: -2">
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
        </div>
      </section>
      {# Показываем секцию слайдера, только если есть другие новости #}
      {% if collections.news | length > 0 %}
      <section class="swiper-container gutter gt fade-in" id="swiper">
        <div class="swiper-header">
          <h2 class="font-medium">Новости</h2>
          <div class="swiper-nav">
            <div class="swiper-button-prev">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="93"
                height="91"
                viewBox="0 0 93 91"
                fill="none"
              >
                <path
                  d="M69.4638 45.4282L24.2422 45.4282"
                  stroke="white"
                  stroke-width="4"
                />
                <path
                  d="M43.4639 64.9281L23.9998 45.464L43.4639 26"
                  stroke="white"
                  stroke-width="4"
                />
              </svg>
            </div>
            <div class="swiper-button-next">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="93"
                height="91"
                viewBox="0 0 93 91"
                fill="none"
              >
                <path
                  d="M24.0001 45.4282L69.2217 45.4282"
                  stroke="white"
                  stroke-width="4"
                />
                <path
                  d="M50 64.9281L69.464 45.464L50 26"
                  stroke="white"
                  stroke-width="4"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-wrapper">
          {% for post in collections.news | reverse %}
            {% include "news-card.njk" %}
          {% endfor %}
        </div>
        <div aria-hidden="true" class="lines grid" style="z-index: -2">
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
        </div>
      </section>
      {% endif %}
      <section class="standart-block grid gutter gt" id="security" data-fade-group>
        <div class="standart-block__content cols-8 fade-in">
          <div class="standart-block__text-block">
            <span class="standart-block__title font-title"> Узнать больше </span>
            <p class="standart-block__description">
              Благодаря уникальной архитектуре и использованию low-code
              технологий «Этос» быстро адаптируется под любые изменения
              законодательства, с каждой новой версией предоставляя
              пользователям всё новые и новые возможности по управлению
              проектами.
            </p>
          </div>
          <div class="standart-block__buttons">
            <a
              class="standart-block__button button adapt-btn"
              type="button"
              href="contacts"
            >
              <span class="button__text">Заказать презентацию</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="26"
                viewBox="0 0 25 26"
                fill="none"
              >
                <path
                  d="M22 4L3 23"
                  stroke="#4C0000"
                  stroke-width="3"
                  stroke-linecap="square"
                />
                <path
                  d="M23 23V3H3"
                  stroke="#4C0000"
                  stroke-width="3"
                  stroke-linecap="square"
                />
              </svg>
            </a>
            <a
              class="standart-block__button button button-2"
              type="button"
              href="https://docs.etos-pro.ru/services/idoc/"
            >
              <span class="button__text">База знаний</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="26"
                viewBox="0 0 25 26"
                fill="none"
              >
                <path
                  d="M22 4L3 23"
                  stroke="#4C0000"
                  stroke-width="3"
                  stroke-linecap="square"
                />
                <path
                  d="M23 23V3H3"
                  stroke="#4C0000"
                  stroke-width="3"
                  stroke-linecap="square"
                />
              </svg>
            </a>
          </div>
        </div>
        <div class="standart-block__image cols-8 fade-in">
          <picture>
            <source
              srcset="/img/security.avif 1x, /img/security@2x.avif 2x"
              type="image/avif"
            />
            <source
              srcset="/img/security.webp 1x, /img/security@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="/img/security.jpg"
              srcset="/img/security.jpg 1x, /img/security@2x.jpg 2x"
              alt="Специалист следит за обновлениями в законодатестве"
              loading="lazy"
            />
          </picture>
        </div>
        <div aria-hidden="true" class="lines grid" style="z-index: -2">
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
        </div>
      </section>
      <section
        class="contacts grid gutter gt main-title-gap"
        id="contacts"
        data-fade-group
      >
        <h2 class="font-medium" id="dynamic-title" fade-in>Контакты</h2>
        <div class="contacts__container grid fade-in">
          <div class="contacts__content cols-8">
            <span class="contacts__name font-title">
              ООО «Стройформ»
            </span>
            <div class="contacts__information">
              <div class="contacts__contact">
                <a
                  class="contacts__email font-main"
                  href="mailto:info@etos-pro.ru"
                  >info@etos-pro.ru</a
                >
                <a
                  class="contacts__number font-main"
                  href="tel:84951987880"
                  >8 (495) 198-78-80</a
                >
              </div>
              <div class="contacts__locations">
                <a
                  class="font-main"
                  href="https://yandex.ru/maps/-/CPAMMSlW"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                    <path d="M6.575 5.075C10.675 0.975 17.325 0.975 21.425 5.075C25.525 9.175 25.525 15.825 21.425 19.925L21.415 19.935L15.906 25.23C15.3935 25.722 14.7105 25.9966 14.0001 25.9962C13.2897 25.9958 12.607 25.7205 12.095 25.228L6.585 19.936L6.575 19.925C2.475 15.825 2.475 9.175 6.575 5.075ZM14 8.5C12.9391 8.5 11.9217 8.92143 11.1716 9.67157C10.4214 10.4217 10 11.4391 10 12.5C10 13.5609 10.4214 14.5783 11.1716 15.3284C11.9217 16.0786 12.9391 16.5 14 16.5C15.0609 16.5 16.0783 16.0786 16.8284 15.3284C17.5786 14.5783 18 13.5609 18 12.5C18 11.4391 17.5786 10.4217 16.8284 9.67157C16.0783 8.92143 15.0609 8.5 14 8.5Z" fill="currentColor"/>
                  </svg>
                  <span>г. Москва,&nbsp;Варшавское&nbsp;шоссе, 32, офис&nbsp;300</span>
                  </a
                >
              </div>
            </div>
          </div>
          <div id="map" class="contacts__map cols-8"></div>
        </div>
        <div aria-hidden="true" class="lines grid fade-in" style="z-index: -2">
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
          <div class="cols-4 line"></div>
        </div>
      </section>